<ul class="menu container" style="width:1370px;">
    <li class=item-menu>
        <a href="/account/order">Acompanhe Seus Pedidos</a>
    </li>
    <li class=item-menu>
        <a class=a-menu>
            Termos de Garantia
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu>
        Importante Saber
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu>
        Orientações Técnicas
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu>
        Resolve Aqui
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu>
        Avalie nossos Serviços
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu href="/account/info">
            Meu Perfil
        </a>
    </li>
    <li class=item-menu>
        <a class=a-menu href="/logout">
            Sair
        </a>
    </li>
</ul>
