{% set sku = product.current_sku %}
<div>
    {% if sku.available %}
    <div id=product-avaible style="display:block">
        <div class="col-md-12 mt-20" style=font-size:1.4em>
            <span class="product-old-price">
            De <s>R$ {{sku.offer.list_price|real_format}}</s><br>
            </span>
            <span class="product-new-price">
            Por <b style=font-size:1.4em>R$ {{sku.offer.price|real_format}}</b> à vista
            </span>
        </div>
        <div class=col-md-6>
            <h5>Quantidade</h5>
            <div class=quantity ng-init="sku.quantity_to_add = 1">
                <span class="glyphicon glyphicon-minus-sign icon" ng-click="sku.quantity_to_add = sku.quantity_to_add-1"></span>
                <span class=value><input type="text" ng-model="sku.quantity_to_add" style="border:none; width:20px; text-align:center"></span>
                <span class="glyphicon glyphicon-plus-sign icon" ng-click="sku.quantity_to_add = sku.quantity_to_add+1"></span>
            </div>
        </div>
        <!-- <div class="col-md-6 metragem">
            <span class="glyphicon glyphicon-calendar red-text"></span>
            <span>Calcule sua metragem</span>
        </div> -->
        <div class="col-md-12" ng-if="sku.offer.logistic_info">
            <ul class="offer-sla-list mt-20" ng-show="!sku.offer.logistic_info.have_sla">
                <li class="red">
                    <strong>Entrega indisponivel para esse local</strong>
                    <br><small>tente outro CEP ou uma quantidade inferior</small>
                </li>
                <!-- <li class="warn">
                    <b>Veja outras ofertas para esse produto:</b><br>
                    {% for offer in sku.offers %}
                        <span class="offer">{{offer.seller.name}} - de <s>R$ {{offer.list_price}}</s> por R$ {{offer.price}}</span>
                    {% endfor %}
                </li> -->
            </ul>
            <ul class="offer-sla-list mt-20" ng-show="sku.offer.logistic_info.slas.length > 0">
                <li ng-repeat="sla in sku.offer.logistic_info.slas track by $index" ng-click="sku.offer.selected_sla = sla" ng-if="sku.offer.logistic_info.best_sla_index == $index">
                    <span class="sla-name"><span class="bullet-check"><span class="checked" ng-if="sku.offer.selected_sla.index == sla.index"></span></span> <strong>[[sla.name]]</strong></span><br>
                    <span class="sla-price">R$ [[sla.price|real_format]]</span>
                    <span class="sla-time"><strong>[[sla.time]] em dias úteis</strong></span>
                    <span class="best-sla"><i class="fa fa-check"></i> Melhor opção</span>
                </li>
                <li ng-click="sku.offer.show_all_sla = true" ng-show="sku.offer.logistic_info.slas.length > 1 && sku.offer.show_all_sla != true" class="show-all">Ver mais opções</li>
                <li ng-repeat="sla in sku.offer.logistic_info.slas" ng-click="sku.offer.selected_sla = sla" ng-if="sku.offer.logistic_info.best_sla_index != sla.index && sku.offer.show_all_sla == true">
                    <span class="sla-name"><span class="bullet-check"><span class="checked" ng-if="sku.offer.selected_sla.index == sla.index"></span></span> <strong>[[sla.name]]</strong></span><br>
                    <span class="sla-price">R$ [[sla.price|real_format]]</span>
                    <span class="sla-time"><strong>[[sla.time]] em dias úteis</strong></span>
                </li>
            </ul>
        </div>
        <div class="col-md-12 mt-20">
            <div class="row">
                <div class="col-sm-8">
                    <button class="btn btn-green btn-block" ng-click="sku.add_to_cart(sku.quantity_to_add || 1, sku.offer.selected_sla.index || null, {'redirect_to' : '/shopping-cart'})">
                        Adicionar ao carrinho
                    </button>
                </div>
                <!-- <div class="col-sm-8">
                    <button class="btn btn-transparent btn-block">Retirar no deposito</button>
                </div> -->
            </div>
        </div>
        <div class="col-md-12 mt-20">
            <div class="pull-left mr-10 mt-5">
                Calculo de Frete
                <h5 class=mt-0><small><a href="javascript:;">(Não sei meu CEP)</a></small></h5>
            </div>
            <div class=input-group>
                <input type=text class="form-control cep" placeholder="00000-000" ng-model="sku.simulation_options.shipping.zipcode">
                <span class=input-group-btn>
                    <button class="btn btn-default" type=button ng-click="sku.offer_simulation(selleroffer_id, sku.quantity_to_add, sku.simulation_options.shipping.zipcode)">CALCULAR</button>
                </span>
            </div>
        </div>
    </div>
    {% else %}
    <div id=product-not-avaible style="display:block">
    	<div class=row>
    		<div class=col-sm-12>
    			<h3 class="primary-color text-center not-available"><strong>Produto indisponivel</strong></h3>
    		</div>
    	</div>
    	<hr>
    	<div class=letme>
    		<p>Esse produto não está disponivel no momento, a função "avise-me quando chegar" pode facilitar sua procura, enviando um email quando o produto estiver disponivel no nosso site</p>
    		<p>Você será avisado no email <strong mkplace-user-email=true>ti@mkplace.com.br</strong> quando o produto estiver disponivel.</p>
    		<div class=row>
    			<div class=col-sm-6>
    				<button class="btn btn-block btn-default">Cancelar</button>
    			</div>
    			<div class=col-sm-6>
    				<button class="btn btn-block btn-success" mkplace-add-letme=28283>Confirmar</button>
    			</div>
    		</div>
    	</div>
    	<button class="btn btn-block btn-info letme-btn">Avise-me quando chegar</button>
    </div>
    {% endif %}
</div>
