{% include 'components/footer-js.html' %}
<div class="red-footer mt-20">
	<div class=head-footer>
		<div class="row row-fake pl-50 pr-50 pb-15">
			<div class="col-xs-12 col-md-12 text-center mt-5">
				<span class=register-title>
					<span class=big-register-title>CADASTRE-SE E GANHE 10% OFF PARA FAZER SUA PRIMEIRA COMPRA!</span>
				</span>
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2 mt-10">
				<div class=row>
					<div class="col-xs-12 col-md-5">
						<input type=text class=input-footer placeholder=NOME>
					</div>
					<div class="col-xs-12 col-md-5">
						<input type=text class=input-footer placeholder=EMAIL>
					</div>
					<div class="col-xs-12 col-md-2 pr-10">
						<button class="btn btn-block btn-footer-send">ENVIAR</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body-footer mt-20 pb-20 container">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<ul>
					<li>
						<h4>Institucional</h4>
					</li>
					<li><a href="/sobre">Sobre a MADEL</a></li>
					<li>Catálogo Digital</li>
					<li>Trabalhe Conosco</li>
					<li>Dicas Madel</li>
					<li>Depoimentos</li>
					<li>Diferenciais</li>
					<li>Imprensa</li>
					<li>Conheça Nossas Lojas</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3">
				<ul>
					<li>
						<h4>Central de Atendimento</h4>
					</li>
					<li>Assistência Técnica</li>
					<li>Fale Conosco</li>
					<li>Horário de Atendimento</li>
					<li>Política de Troca e Entrega</li>
					<li>Perguntas Frequentes</li>
					<li>Responsabilidade Ambiental</li>
					<li>Regulamento de Campanhas</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3">
				<h4>Formas de Pagamento</h4>
				<img src=/madel-assets/img/formas.png alt=Selo>

				<h4 class="mt-10">Certificados e Segurança</h4>
				<img src=/madel-assets/img/selo_madel.png alt=Selo>
			</div>
			<div class="col-xs-12 col-md-3">
				<h4>Seja um Fornecedor</h4>
				<p>Se você tem interesse em ser um de nossos parceiros, <a href=#>clique aqui</a> para preencher o formulário</p>
				<!-- <h4>Outros Serviços</h4>
				<p>ARQUITETANDO</p>
				<p>MEMBERSHIP</p> -->
			</div>
			<div class="col-xs-12 col-md-12 text-center mt-20">
				<h4>Acompanhe a MADEL</h4>
				<div class="social-footer">
					<a href="https://www.facebook.com/madelmadeiras/" target="_blank"><img src="/madel-assets/img/facebook-bt.png" alt=""></a>
					<a href="https://www.instagram.com/madelmadeiras/" target="_blank"><img src="/madel-assets/img/instagram-bt.png" alt=""></a>
					<a href="https://www.youtube.com/channel/UCrAu_l_vINave0NW88Bt_tw" target="_blank"><img src="/madel-assets/img/youtube-bt.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="final-message pr-40 mt-20 mb-20 text-left">
		<div class="row">
			<div class="col-sm-8">
				<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-8 text-right">
						<a href="http://www.mkplace.com.br/" target="_blank"><img src="/madel-assets/img/mkplace-logo.png" alt="" style=" margin-top: 5px; width: 155px;"></a>
					</div>
					<div class="col-sm-4 text-right">
						<a href="http://www.enext.com.br/" target="_blank"><img src="/madel-assets/img/enext-logo.png" alt="" style="width:100px;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
