<div class="mb-30 mt-5">
  <!-- <span class="pull-left ml-20">
    Arquitetando | Membership
  </span> -->
  <span class="pull-right mr-20">
    <span class="mr-20">
      <i class="fa fa-phone red-icon" aria-hidden="true"></i> SAC.: 11 2888-4444
    </span>
    <!-- <span class="mr-20">
      <i class="fa fa-balance-scale red-icon" aria-hidden="true"></i> Sob medida
    </span>
    <span class="mr-20">
      <i class="fa fa-map-marker red-icon" aria-hidden="true"></i> Nossas Lojas
    </span> -->
  </span>
</div>

<!-- Mega MENU -->
<div class="megamenu">
  <div class="space-departments">
    <div class="row">
        <div class="col-md-3">
          <ul>
            <li class="title">Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li class="title">Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li class="title">Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li class="title">Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum Dolor</li>
          </ul>
        </div>
    </div>
  </div>
</div>

<!-- Menu de navegação -->
<nav class="navbar navbar-default" style="border-bottom: none;">
  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding:0px 0px;margin-left: 0px;">
        <img style="height: 50px;" alt="Brand" src="/madel-assets/img/logo.jpg">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Left things -->
      <ul class="nav navbar-nav">
        <li class="dropdown" style="top: 10px;margin-left: 15px;">
          <a style="background-color: #f5f5f5;padding: 5px;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            REFINE SUA BUSCA <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>
      </ul>

      <!-- BUSCAR -->
      <form class="" action="/busca" method="get">
          <div class="navbar-form navbar-left">

            <div class="form-group">
              <input style="border: none;box-shadow: none;width: 400px;" type="text" class="form-control" placeholder="OLÁ, DIGITE AQUI O QUE VOCÊ PROCURA" name="search">
            </div>
        </div>
          <!-- Right things -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" style="border-left: 1px solid rgba(0, 0, 0, .1);">
                <i class="fa fa-search fa-6" aria-hidden="true" style="font-size: 20px;color: #cd162a;"></i>
              </a>
            </li>
            <!-- <li>
              <a href="#" style="border-left: 1px solid rgba(0, 0, 0, .1);">
                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;"></i>
                <div class="text-navbar-search">MADEL CONCEPT<br>
                PARCEIROS</div>
              </a>
            </li> -->
            <!-- <li>
              <a href="#" style="border-left: 1px solid rgba(0, 0, 0, .1);">
                <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 20px;"></i>
              </a>
            </li> -->
            <li>
              <a href="/account/info" style="border-left: 1px solid rgba(0, 0, 0, .1);">
                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;"></i>
                <div class="text-navbar-search">PORTAL<br>
                DO CLIENTE</div>
              </a>
            </li>
            <li class="mini-shoppingcart">
              <a href="/shopping-cart" class="shopping-cart-button">
                <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size: 20px;"></i>
              </a>
              <div class="mini-shoppingcart-container" ng-controller="shoppingcart">
                  <div class="wrap">
                      <div ng-if="!shoppingcart.items.length > 0">
                          <div class="row">
                              <div class="col-sm-12">
                                  <h2 class="text-muted text-center mt-40">Carrinho vazio</h2>
                              </div>
                          </div>
                      </div>
                      <div ng-if="shoppingcart.items.length > 0">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="row mini-cart-item mb-20" ng-repeat="item in shoppingcart.items">
                                      <div class="col-sm-3">
                                          <img style="width:90px; height:90px;" ng-src="[[item.sku.image_path]]" alt=...>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class=name>[[item.sku.name]]</div>
                                          <small>
                                              <span class="product-old-price pl-0">
                                              Preço R$ <span ng-bind="item.offer.unit_price|real_format"></span><br>
                                              </span>
                                              <span class="product-new-price pl-0">
                                              Sub-total <b>R$ <span ng-bind="item.offer.price|real_format"></span></b> (<span ng-bind="item.quantity"></span> un.)
                                              </span>
                                          </small>
                                      </div>
                                      <div class="col-sm-1 pt-20">
                                          <div ng-click="shoppingcart.item_quantity_update(item.offer.id, 0)" style="cursor:pointer;">
                                              <i class="fa fa-trash-o" aria-hidden=true></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="shipping">
                      <div class="row-fake">
                          <div class="col-sm-4">
                              <strong>Subtotal</strong>
                          </div>
                          <div class="col-sm-8 text-right">
                              R$ <span ng-bind="shoppingcart.summary.total_item||0|real_format"></span>
                          </div>
                          <div class="col-sm-12">
                              <div class="" style="height:45px;">
                                  <div class="row">
                                      <div class="col-sm-4 mt-20 text-left">
                                          <strong>Calcular frete</strong>
                                      </div>
                                      <div class="col-sm-8" style="padding-top:12px;">
                                          <div class="input-wrap">
                                              <input type="text" class="cep" ng-model="shoppingcart.checkout.address.zipcode" value="" style="border:none; float:left; width:80%">
                                              <button type="button" ng-click="shoppingcart.load()" name="button" class="btn-gray pull-right" style="float:left; border:0; height: 22px; font-size:10px; width: 13%; background:#878787; color:white;">OK</button>
                                              <div style="clear:both"></div>
                                          </div>
                                          <small style="font-size:10px; position:absolute; margin-top:0;"><a href="#">Não sei meu CEP.</a></small>
                                      </div>
                                  </div>
                              </div>
                              <hr>
                          </div>
                          <div class="col-sm-4">
                              <strong>TOTAL</strong>
                          </div>
                          <div class="col-sm-8 text-right">
                              R$ <span ng-bind="shoppingcart.summary.total||0|real_format"></span>
                          </div>
                      </div>
                  </div>
                  <div class="footer-cart">
                      <a href="/" class="btn-footer">Continuar comprando</a>
                      <a href="/checkout" class="btn-footer red">Finalizar compra</a>
                  </div>
              </div>
            </li>
          </ul>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- SUBMENU -->
<nav class="navbar navbar-default submenu" style="background-color: #f5f5f5;">
  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="dropdown drophover text-center" style="width: 294px;border-right: 1px solid rgba(0, 0, 0, 0.11);">
          <a style="background-color: #f5f5f5;height: 48px;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <strong>TODOS OS DEPARTAMENTOS</strong> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu no-box-shadow">
            <li><a href="#">Portas</a></li>
            <li><a href="#">Janelas</a></li>
            <li><a href="#">Acessórios</a></li>
            <li><a href="#">Móveis</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Right things -->
      <ul class="nav navbar-nav menu col-md-8" style="font-size: 11px;margin-left: 10px;">
        <li><a href="/d/portas/573">PORTAS</a></li>
        <li><a href="/d/acessorios/581">ACESSÓRIOS</a></li>
        <li><a href="/d/janelas/576">JANELAS</a></li>
        <li><a href="/d/moveis/589">MÓVEIS</a></li>
      </ul>
      <!-- <div class="pull-right">
        <a href="#" class="btn btn-danger btn-block btn-promotions" role="button">PROMOÇÕES</a>
      </div> -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
