<div class="modal fade" id="loginRequestModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:870px; background:#EF284F">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="form_signup" style="background:#EF284F; padding:0">
            <div class="row" style="padding:40px;">
                <div class="col-sm-12">
                    <h1 style="color:#fff; margin-bottom:30px;">Bem vindo à</h1>
                    <img src="/madel-assets/img/logo-pink-login.png" alt="" style="width: 300px; margin: auto; display: block;">
                    <h1 style="color:#fff; margin-bottom:30px; margin-top:20px;"><strong>Já sou cadastrado</strong></h1>
                </div>
                <div class="col-sm-12">
                    <input type="hidden" name="next" value="{{request.args.get('next','')}}">
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input ng-model="customer.auth_form.login" style="background:#fff; border-radius:2px; color: #EF284F !important;" class="input-token form-control" placeholder="Email" autocomplete="off">
                            <label class="btn-keep-connected pull-left">
                                <div class="checkoption"></div>
                                Permanecer conectado
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input ng-model="customer.auth_form.password" type="password" style="background:#fff; border-radius:2px; color: #EF284F !important;" class="input-token form-control" placeholder="Senha" autocomplete="off">
                            <label class="btn-recovery-access pull-right text-right">Esqueceu sua senha?</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="customer.auth(customer.auth_form.login, customer.auth_form.password)" class="col-md-offset-3 col-md-6" style="background-color:#ef818e;border-radius:3px" data-next="address">Entrar</button>
                    </div>
                </div>
            </div>
            <div style="background:#fff">
                dsaiojdosaidoasjo
            </div>
        </div>
    </div>
</div>
