<div class="filter">
	<div class="row">
		<div class="col-md-5">
			<h5 class="red-text mt-15">FILTRAR POR</h5>
		</div>
		<div class="col-md-7">
			<div>
				<ul style="float:right">
					<li>
						ORDENAR POR
					</li>
					<li>
						<a href="{{this.sort_links.score}}">
							<span class="bullet-check">{% if this.current_sort == "score_desc" %}<span class="checked"></span>{% endif %}</span>
							Relevancia
						</a>
					</li>
					<li>
						<a href="{{this.sort_links.price_asc}}">
							<span class="bullet-check">{% if this.current_sort == "current_price_asc" %}<span class="checked"></span>{% endif %}</span>
							Menor Preço
						</a>
					</li>
					<li>
						<a href="{{this.sort_links.price_desc}}">
							<span class="bullet-check">{% if this.current_sort == "current_price_desc" %}<span class="checked"></span>{% endif %}</span>
							Maior Preço
						</a>
					</li>
					<li>
						<a href="{{this.sort_links.avg_rating}}">
							<span class="bullet-check">{% if this.current_sort == "avg_rating_desc" %}<span class="checked"></span>{% endif %}</span>
							Avaliação
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="filter-dropdown">
	<ul class="menu">
		{% for attr_name in this.attribute_filter %}
		{% if this.attribute_filter[ attr_name ]|length > 0 %}
		<li class="item-menu dropdown-toggle a-menu">
			<div class="dropdown">
				<a href="javascript:" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{% if attr_name == "category" %}
						Categoria
					{% elif attr_name == "manufacturer" %}
						Marca
					{% elif attr_name == "subcategory" %}
						Sub categoria
					{% else %}
						{{attr_name}}
					{% endif %}
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					{% for option in this.attribute_filter[ attr_name ] %}
					<li>
						<a href="{{option.link}}">
							<span class="bullet-check">{% if option.is_active %}<span class="checked"></span>{% endif %}</span> {{option.name}} ({{option.count}})
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% endif %}
	    {% endfor %}
	</ul>
</div>
<div class="clear clearfix"></div>
