<div class="list-group menu-institucional">
    <a href="/sobre" class="list-group-item">Sobre a Madel</a>
    <a href="/catalogo" class="list-group-item">Catálogo</a>
    <a href="/trabalhe-conosco" class="list-group-item">Trabalhe Conosco</a>
    <a href="/dicas-madel" class="list-group-item">Dicas Madel</a>
    <a href="/depoimentos" class="list-group-item">Depoimentos</a>
    <a href="/catalogo-de-cadeiras" class="list-group-item">Catalogo de Cadeiras</a>
    <hr />
    <a href="/central-de-atendimento" class="list-group-item">Central de Atendimento </a>
    <a href="/assistencia-tecnica" class="list-group-item active">Assistencia Técnica</a>
    <a href="/fale-conosco" class="list-group-item">Fale Conosco</a>
    <a href="/horario-de-atendimento" class="list-group-item">Horário de Atendimento</a>
    <a href="/troca-e-entrega" class="list-group-item">Política de Troca e Entrega </a>
    <a href="/perguntas-frequentes" class="list-group-item">Perguntas Frequentes</a>
    <a href="/responsabilidade-ambiental" class="list-group-item">Responsabilidade Ambiental</a>
    <a href="/regulamento-de-campanhas" class="list-group-item">Regulamento de Campanhas</a>
</div>
