.quantity {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .62);
  float: left;
  font-size: 12px;
}
.quantity .icon {
  opacity: .6;
  font-size: 18px;
  top:2px;
  cursor: pointer;
}
.quantity .value {
  font-size: 15px;
  top: -2px;
  position: relative;
  margin: 0px 6px;
}
.grey-trace {
  background-color: #f5f5f5;
  height: 55px;
  width: 100%;
}
.red-text {
  font-weight: bold;
  color: #d70000;
}
.grey-text {
  color: #9b9b9b;
}
.total {
  background-color: #f7f7f7;
  max-width: 300px;
  width: 100%;
  padding: 30px 40px;
  border-radius: 0px;
  border: none;
}
.cupom {
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: transparent;
  border-radius: 0px;
  max-width: 500px;
  width: 100%;
  padding: 50px 40px;
}
.cupom a {
  color: #d70000;
  text-decoration: none;
}
.custom-input {
  border-radius: 0px;
  padding: 8px 10px;
  font-size: 11px;
  width: 100%;
  outline: none;
}
.cupom button {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 10px;
}
.btn-red {
  border-radius: 0px;
  padding: 10px 10px;
  background-color: #cd162a;
  font-weight: 900;
  color: white;
}
.btn-address {
  position: absolute;
  margin-left: -21px;
  width: calc(100% - 30px);
  top: 99px;
  padding: 7px;
  font-size: 12px;
  color: white;
}
.btn-transparent {
  border-radius: 0px;
  padding: 10px 10px;
  background-color: transparent;
  font-weight: 900;
  color: black;
  border: 1px solid black;
}
.address {
  background-color: transparent;
  padding: 20px 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 0px;
}
.address.active {
  border: 1px solid #d70017;
}
.footer {
  height: 100px;
  background-color: #f7f7f7;
  width: 100%;
}
/*checkout*/
