<!DOCTYPE html>
<html lang="en" ng-app="catalog">
	<head>
		<meta charset="utf-8">
		<title>Mkplace Platform - Development server configuration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/configure/assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="/configure/assets/css/custom.min.css">
        <script src="/configure/assets/js/angular-1.4.7.min.js"></script>
        <script src="/configure/assets/js/app.js"></script>
	</head>
	<body ng-controller="configuration">
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Mkplace Platform</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li>
							<a href="../help/">Load saved config</a>
                        </li>
                        <li>
							<a href="../help/">Export as JSON</a>
                        </li>
                        <li>
							<a href="../help/">Help</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://builtwithbootstrap.com/" target="_blank">Change log</a></li>
						<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Check updates</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="row">
    					<div class="col-sm-12">
    						<p class="lead">Configured clients</p>
    					</div>
    				</div>
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="javascript:;" ng-repeat="client in configuration.clients" ng-bind="client.name" ng-click="open_client(client)"></a>
						<a class="list-group-item" href="javascript:;" ng-click="addnew_client()">Add new client</a>
					</div>
                    <div class="row">
    					<div class="col-sm-12">
    						<p class="lead">Agency config</p>
    					</div>
    				</div>
					<div class="list-group table-of-contents"><a class="list-group-item" href="javascript:;">SSH keys</a></div>
				</div>
                <div class="col-sm-9">
                    <h2 class="text-muted text-center" ng-if="!current_client">Add or select an client to configure</h2>
                    <div ng-show="current_client">
                        <h2 ng-bind="current_client.name"></h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control input-sm" ng-model="current_client.name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Path</label>
                                    <input type="text" class="form-control input-sm" ng-model="current_client.path">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>Sites of <span ng-bind="current_client.name"></span>: <span ng-click="add_site()">[add]</span></h4>
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="site in current_client.sites">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        [[site.name||"Untitled"]] <button type="button" class="btn btn-xs pull-right btn-info" ng-click="configure_site(site)">Configure</button>
                                    </div>
                                    <div class="panel-body">
                                        <div class="text-right">
                                            <span class="label label-warning">Published version:</span> <span class="label label-default">[[current_client.path]]-[[site.path]]-staging.mkplace.technology</span>
                                        </div>
                                        <div class="" ng-if="site.show_config">
                                            <hr>
                                            <form class="form">
                                                <h3>Site config</h3>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Name</label>
                                                            <input type="text" class="form-control input-sm" ng-model="site.name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="">Path</label>
                                                            <input type="text" class="form-control input-sm" ng-model="site.path">
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3>Repository config</h3>
                                                <div class="form-group">
                                                    <label for="">Repository</label>
                                                    <input type="text" class="form-control input-sm" ng-model="site.repo">
                                                    <small>SSH url to clone repository</small>
                                                </div>
                                                <h3>Authentication config</h3>
                                                <div class="form-group">
                                                    <label for="">Access key</label>
                                                    <input type="text" class="form-control input-sm" ng-model="site.accesskey" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
                                                    <small>Only sandbox access key are accepted and you need to have full permission access granted</small>
                                                </div>
                                                <h3>Host config</h3>
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="host in site.hosts">
                                                        <span class="badge" ng-click="remove_host(site, host)">x</span> <a href="http://[[host]]">[[host]]</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                    	<div class="input-group">
                                                    		<span class="input-group-addon input-sm">http://</span>
                                                    		<input type="text" class="form-control input-sm" ng-model="site.new_host" placeholder="Add new host, Ex.: dev.mystore.com.br">
                                                    		<span class="input-group-btn">
                                                        		<button class="btn btn-default btn-sm" ng-click="add_host(site)" type="button">Add</button>
                                                    		</span>
                                                    	</div>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-primary pull-right" ng-click="load()" ng-if="!new_client">Load configuration</button>
                        <button type="button" class="btn btn-primary pull-right" ng-click="add_client()" ng-if="new_client != null">Add client</button>
                    </div>
                </div>
                <div class="col-sm-12 text-muted">
                    <hr>
                    <small>&copy; Copyright - Mkplace Technology</small>
                </div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/configure/assets/js/bootstrap.min.js"></script>
		<script src="/configure/assets/js/custom.js"></script>
	</body>
</html>
