<header>
    <div class=nav-breadcrumb style=background:#000000!important>
		<div class=container>
			<span ng-bind="customer.info.group_name"></span> <span ng-if="customer.info.firstname">&raquo;</span> <span ng-bind="customer.info.firstname"></span>
			<span class="pull-right top-tel" style=margin-top:-2px;margin-bottom:2px>ligue: <strong>3500 1830</strong></span>
		</div>
	</div>
	<div class=container>
		<div class=logo>
			<a href=/>Home to Go</a>
		</div>
		<div class=header-menu>
			<ul class=mainmenu>
				<li>
					<a href=/banheiro>Banheiro</a>
					<div class=submenu>
						<!-- <div class=menu-cartridge>
							<div style=height:345px class=product-thumb>
								<div class=image>
									<div class=overlay></div>
									<img src=https://static.hometogo.com.br/images/1/128/direct-12875_220x220.jpg class=first-image />
									<div class="product-actions act-cupom act-freecupom">
										<a href=javascript: title="Adicionar á lista de desejos" mkplace-add-wishlist=25558 class="add-to-list home"></a>
										<a href=/gabinete-compacto-500-branco-com-porta-preta-gaam-p25558 title="Ver detalhes" class=details></a>
									</div>
									<button type=button class=carousel-add-cart-btn></button>
								</div>
								<div class=info>
									<span class=manufacturer-name>Telhanorte</span>
									<small title="Gabinete compacto 500 branco com porta preta gaam">Gabinete compacto 500 branco com porta preta gaam</small>
									<small class=price><strong>Cupom de desconto</strong></small>
								</div>
							</div>
						</div> -->
						<ul style=background:rgba(250,250,250,0.98) class="bg_18288 hasProduct">
							<li><a href="search?search=banheiro">Móveis para Banheiro</a></li>
							<li><a href=/banheiro/search?search=torneira>Torneiras, Misturadores e Monocomandos</a></li>
							<li><a href=/banheiro/search?search=vaso>Vasos Sanitários e Assentos</a></li>
							<li><a href=/banheiro/search?search=aquecedor>Aquecedores e Acessórios</a></li>
							<li><a href=/banheiro/search?search=cuba>Cubas para Lavabo</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/cozinha>Cozinha</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18294 hasProduct">
							<li><a href="/search?search=adega">Adegas e Frigobares</a></li>
							<li><a href="/search?search=coifa">Coifas e Depuradores</a></li>
							<li><a href="/search?search=cooktop">Cooktops</a></li>
							<li><a href="/search?search=fogão">Fogões</a></li>
							<li><a href="/search?search=freezer">Freezers</a></li>
							<li><a href="/search?search=geladeira">Geladeiras / Refrigeradores</a></li>
							<li><a href="/search?search=purificador">Purificadores / Bebedouros</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/lavanderia>Lavanderia</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18314 hasProduct">
							<li><a href="/search?search=aspirador">Aspiradores de Pó</a></li>
							<li><a href="/search?search=enceradeiras">Enceradeiras</a></li>
							<li><a href="/search?search=ferro\+de\+passar">Ferros de Passar / Vaporizadores</a></li>
							<li><a href="/search?search=lavadoras">Lavadoras de Alta Pressão</a></li>
							<li><a href="/search?search=lavadoras">Lavadoras de Roupas</a></li>
							<li><a href="/search?search=secadora">secadoras</a></li>
							<li><a href="/search?search=utilidades">Utilidades Domésticas</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/quarto>Quarto</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18337 hasProduct">
							<li><a href=pgproducts.html>Abajures</a></li>
							<li><a href=pgproducts.html>Almofadas</a></li>
							<li><a href=pgproducts.html>Cabeceiras</a></li>
							<li><a href=pgproducts.html>Capas de Almofadas</a></li>
							<li><a href="/quarto-c1837?filter-category=comodas">Cômodas</a></li>
							<li><a href="/quarto-c1837?filter-category=criado-mudo">Criado-Mudo</a></li>
							<li><a href="/quarto-c1837?filter-category=escrivaninhas">Escrivaninhas</a></li>
							<li class="last hide"><a href=quarto-c1837 class=btn-veja-mais-top>Veja mais</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/sala>Sala</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18345 hasProduct">
							<li><a href="/sala-c1835?filter-category=abajures">Abajures</a></li>
							<li><a href="/sala-c1835?filter-category=capa-de-almofada|Almofadas">Almofadas</a></li>
							<li><a href="/sala-c1835?filter-category=aparadores">Aparadores</a></li>
							<li><a href="/sala-c1835?filter-category=bancos|banquetas|banquetas-de-bar">Bancos</a></li>
							<li><a href="/sala-c1835?filter-category=buffets|carros-de-cha|moveis-de-bar">Buffets</a></li>
							<li><a href="/sala-c1835?filter-category=centros-de-mesa|espelhos|objetos-decorativos|quadros|vasos|bandejas|molduras">Decoração</a></li>
							<li><a href="/sala-c1835?filter-category=cadeiras">Cadeiras</a></li>
							<li><a href="/sala-c1835?filter-category=mesas-de-jantar|mesas-de-jogos|mesas-laterais|mesas-de-centro|mesas-de-cha|colunas-de-jantar">Mesas</a></li>
							<li><a href="/sala-c1835?filter-category=sofas|divas">Sofás</a></li>
							<li><a href="/sala-c1835?filter-category=lustres-e-luminarias">Iluminação</a></li>
							<li><a href="/sala-c1835?filter-category=poltronas|puffs">Poltronas</a></li>
							<li><a href="/sala-c1835?filter-category=home|estantes">Home Office</a></li>
							<li><a href=/pecas-de-reposicao-c1880/fechaduras-eletronicas-c1986>Fechaduras Eletrônicas</a></li>
							<li class="last hide"><a href=sala-c1835 class=btn-veja-mais-top>Veja mais</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/varanda>Varanda</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18359 hasProduct">
							<li><a href="/varanda-decor-c1867?filter-category=garden-seat">GARDEN SEAT</a></li>
							<li><a href="/varanda-decor-c1867?filter-category=chaises-long">ESPREGUIÇADEIRA</a></li>
							<li class="last hide"><a href=varanda-c1867 class=btn-veja-mais-top>Veja mais</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/hometheater>Home Theater</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class="bg_18308 hasProduct">
							<li><a href="/home-theater-c1954?filter-category=acessorios-home-theater">Acessórios</a></li>
							<li><a href="/home-theater-c1954?filter-category=home-theaters">Home Theaters</a></li>
							<li><a href="/home-theater-c1954?filter-category=leitores-de-vlu-ray-e-dvd">Leitores de Bru-ray e DVD</a></li>
							<li><a href="/home-theater-c1954?filter-category=sound-bar">Sound Bar</a></li>
							<li><a href="/home-theater-c1954?filter-category=tvs">TVs</a></li>
							<li class="last hide"><a href=home-theater-c1954 class=btn-veja-mais-top>Veja mais</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href=/obraereforma>Obra e Reforma</a>
					<div class=submenu>
						<ul style=background:rgba(250,250,250,0.98) class=bg_18325>
							<li><a href>Ferramentas</a></li>
							<li><a href>Ferragens</a></li>
							<li><a href>Elétrica</a></li>
							<li><a href>Iluminação</a></li>
							<li><a href>Hidráulica</a></li>
							<li><a href>Tintas, Corantes e Texturas</a></li>
							<li><a href>Materiais de Contrução</a></li>
							<li><a href>Portas, Janelas e Acessórios</a></li>
							<li><a href>Organização e Decoração</a></li>
							<li><a href>Ambientes Externos</a></li>
							<li><a href>Banheiro, Lavabo</a></li>
							<li class="last hide"><a href class=btn-veja-mais-top>Veja mais</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<div class=shopping-cart ng-controller="mini_shoppingcart">
				<span mk-shoppingcart-count></span><a href=/shopping-cart class=shopping-cart-btn></a>
				<div class=mini-shoppingcart>
					<div class=content>
						<div class=loading ng-if="!mini_shoppingcart.items.length">Carrinho Vazio</div>
						<div class=thead ng-if="mini_shoppingcart.items.length > 0">
							<span>Quant:</span>
							<span>Valor:</span>
							<span>Produto:</span>
						</div>
						<div class=tbody ng-if="mini_shoppingcart.items.length > 0">
							<div id=mini-cart-items>
								<div class=cart-item ng-repeat="item in mini_shoppingcart.items">
									<div class=qty>[[item.quantity]]</div>
									<div class=price>[[item.offer.price]]</div>
									<div class=name>[[item.sku.name]]</div>
								</div>
								<div class=total-cart>
									<strong>
										TOTAL:<br>
										<h1>R$ 381,65</h1>
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=header-bottom-menu>
				<hr />
				<div class=user-menu> <span class=name><a href=/account/info>MINHA CONTA</a> | <a href=/logout>SAIR</a></span> </div>
				<div>
					<ul class=hotsite-menu>
						<li><a href=/eletro-hotsite>Eletro</a></li>
						<li>|</li>
						<li><a href=/decor>Decor</a></li>
						<li>|</li>
						<li><a href=/lifestyle>Lifestyle</a></li>
						<li>|</li>
						<li><a href=/servico>Serviços</a></li>
					</ul>
				</div>
				<div class=search-menu>
					<ul>
						<li><a href=/cupom-de-desconto>Cupons</a></li>
						<li><a href=/minha-conta/lista>Lista de<br/> desejos</a></li>
						<li style=display:none>
							<a href=#>Buscar por categorias</a>
							<ul class=menulist>
								<li><a href=banheiro-c1913>Banheiro</a></li>
								<li><a href=cozinha-c1887>Cozinha</a></li>
								<li><a href=lavanderia-c1901>Lavanderia</a></li>
								<li><a href=quarto-c1837>Quarto</a></li>
								<li><a href=sala-c1835>Sala</a></li>
								<li><a href=varanda-c1867>Varanda</a></li>
								<li><a href=home-theater-c1954>Home Theater</a></li>
								<li><a href>Obra &amp; Reforma</a></li>
							</ul>
						</li>
						<li>
							<a href=#>Buscar por marcas</a>
							<ul class="menulist manufacturer" style=background:rgba(250,250,250,0.98)!important>
								<li><a href="/1501art">1501 Art&Decor</a></li>
								<li><a href="/artefacto">Artefacto</a></li>
								<li><a href="/brastemp">Brastemp</a></li>
								<li><a href="/carolinamancini">Carolina Mancini</a></li>
								<li><a href="/casa-do-suporte">Casa do suporte</a></li>
								<li><a href="/cliquebaba">Clique Babá</a></li>
								<li><a href="/consul">Consul</a></li>
								<li><a href="/dellanno">Dell Anno</a></li>
								<li><a href="/difratelli">Difratelli</a></li>
								<li><a href="/easyqasa">EasyQasa</a></li>
								<li><a href="/electrolux">Electrolux</a></li>
								<li><a href="/editoratres">Editora Três</a></li>
								<li><a href="/favorita">Favorita</a></li>
								<li><a href="/g-locks">G-Locks</a></li>
								<li><a href="/hariztapetes">Hariz Tapetes</a></li>
								<li><a href="/karsten">Karsten</a></li>
								<li><a href="/kitchenaid">KitchenAid</a></li>
								<li><a href="/latina">Latina</a></li>
								<li><a href="/lustresyamamura">Lustres Yamamura</a></li>
								<li><a href="/mallory">Mallory</a></li>
								<li><a href="/marmorariapaulista">Marmoraria Paulista</a></li>
								<li><a href="/mobileduo">Mobile Duo</a></li>
								<li><a href="/nespresso">Nespresso</a></li>
								<li><a href="/ornare">Ornare</a></li>
								<li><a href="/ortobom">Ortobom</a></li>
								<li><a href="/oxford">Oxford</a></li>
								<li><a href="/portofaz">Porto Seguro Faz</a></li>
								<li><a href="/samsung">Samsung</a></li>
								<li><a href="/santamonica">Santa Monica</a></li>
								<li><a href="/sony">Sony</a></li>
								<li><a href="/selezione">Selezione</a></li>
								<li><a href="/specialelavanderia">Speciale Lavanderia</a></li>
								<li><a href="/telhanorte">telhanorte</a></li>
								<li><a href="/trussardi">trussardi</a></li>
								<li><a href="/vetroservice">Vetroservice</a></li>

							</ul>
						</li>
					</ul>
					<div class=form>
						<form action=/search>
							<div class=input-search> <input type=text name=search value placeholder="buscar por palavra"> <button type=submit></button> </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
