<div class="modal fade" id="BrandsModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:640px">
		<button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<form class="form_signup" action="/minha-conta/cadastro/" method="post" style="background:#ef818e; width:640px; margin-left:0px; height:655px">
			<div class="row">
				<div class="col-sm-12" style="text-align:center">
					<h1 style="color:#fff; text-align:center; font-size:24px; font-family: 'gothamlight';">Marcas com preços direto de fábrica</h1>
					<hr style="border-color:#fff" />
					<img src="/storage/59/5/590c940ca8dafe41ea3738cc9c590375b8cb4cab7dfd1ebe90aaf79e33ba0aeb.png" style="width: 88%">
				</div>
			</div>
		</form>
	</div>
</div>
