<script src="/rednose-assets/js/jquery-2.1.4.min.js"></script>
<script src="/rednose-assets/js/bootstrap.min.js"></script>
<!--Owl Carousel-->
<script src="/rednose-assets/vendors/owl.carousel/owl.carousel.min.js"></script>
<!--CounterUp-->
<script src="/rednose-assets/vendors/couterup/jquery.counterup.min.js"></script>
<!--WayPoints-->
<script src="/rednose-assets/vendors/waypoint/waypoints.min.js"></script>
<!--Instafeed-->
<script src="/rednose-assets/vendors/instafeed/instafeed.min.js"></script>
<!-- Isotope -->
<script src="/rednose-assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/rednose-assets/vendors/isotope/isotope.min.js"></script>
<!--Theme Script-->
<script src="/rednose-assets/js/theme.js"></script>
