{% include 'components/modal-login-request.html' %}

{% include 'components/modal-access-request.html' %}

{% include 'components/modal-register-request.html' %}

{% include 'components/modal-brands.html' %}

<div class="navbar navbar-fixed-top" style="margin-bottom: 0px; border-radius: 0px !important;">
    <div class="container">
        <div class="row" style="padding: 4px 0px;">
            <div class="col-xs-3 col-md-3">
                <div class="logo" style="margin-top: 1px">
                    <img src="/hometogo-assets/img/logo_home.png">
                </div>
            </div>
            <div class="col-xs-5 col-md-5 text-right">
                <div class="menu">
                    <ul>
                        <li><a href="#" class="brands-btn">Marcas parceiras</a></li>
                        <li><a href="/corporativo.html">Corporativo</a></li>
                        <li><a href="#" class="access-request-btn">Como fazer parte</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 col-md-3">
                <p class="have-a-key"><a href="#" class="register-btn">Recebi a chave e quero me cadastrar</a></p>
            </div>
            <div class="col-xs-1 col-md-1">
                <button class="login-btn">Login</button>
            </div>
        </div>

    </div>
</div>
