<div class="col-sm-3 category-sidebar">
	{% for attr_name in this.attribute_filter %}
	{% if this.attribute_filter[ attr_name ]|length > 0 %}
    <div>
		<ul class=attribute-tree>
			<li>
				<a href=javascript:void(0)>
				    {% if attr_name == "category" %}
                        <b>Categoria</b>
                    {% elif attr_name == "manufacturer" %}
                        <b>Marca</b>
                    {% elif attr_name == "subcategory" %}
                        <b>Sub categoria</b>
                    {% else %}
                        <b>{{attr_name}}</b>
                    {% endif %}
				</a>
				<ul>
					{% for option in this.attribute_filter[ attr_name ] %}
                    <li><a href="{{option.link}}"><span class="text">{{option.name}} ({{option.count}})</span></a></li>
                    {% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<hr>
	{% endif %}
    {% endfor %}
	<div class=contact-us>
		<strong>FALE COM A GENTE</strong>
		<h1>3500-1830</h1>
	</div>
</div>
