<link rel="Shortcut Icon" href=/hometogo-assets/img/favicon.ico>
<link rel=stylesheet href=/hometogo-assets/css/bootstrap.min.css media=screen title="no title" charset=utf-8>
<link rel=stylesheet href=/hometogo-assets/css/perfect-scrollbar.min.css media=screen title="no title" charset=utf-8>
<link rel=stylesheet href=/hometogo-assets/css/jquery.bxslider.css media=screen title="no title" charset=utf-8>
<link rel=stylesheet href=/hometogo-assets/css/htg.css media=screen title="no title" charset=utf-8>

<!-- dependencies -->
<script src=/public/js/jquery-2.1.4.min.js charset=utf-8></script>
<script src=/public/js/angular-1.4.7.min.js charset=utf-8></script>

<!-- extras -->
<script src=/hometogo-assets/js/jquery.lazyload.js charset=utf-8></script>
<script src=/hometogo-assets/js/bootstrap.min.js charset=utf-8></script>
<script src=/hometogo-assets/js/jquery.bxslider.min.js></script>
<script src=/hometogo-assets/js/jquery.mask.js></script>
<script src="/hometogo-assets/js/imagezoom.js" charset=utf-8></script>
<script src="/hometogo-assets/js/toastr.js" charset=utf-8></script>
<script src="/hometogo-assets/js/jquery.cookie.js" charset=utf-8></script>
<script src="/hometogo-assets/js/perfect-scrollbar.jquery.js" charset=utf-8></script>
<script src="/hometogo-assets/js/perfect-scrollbar.js" charset=utf-8></script>
<script src="/hometogo-assets/js/mkplace.js" charset=utf-8></script>
<script src="/hometogo-assets/js/application.js" charset=utf-8></script>
<!-- <script>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-69142197-1","auto");ga("send","pageview");</script> -->
<style>.manufacturer-name{text-transform:none!important}.banner-expand .controller{border:none!important}</style>

<!-- dependencies -->
<script src="/public/js/ng-mkplace-1.0.js"></script>
<script src="/hometogo-assets/js/mkplace.conf.js"></script>
