{% extends 'layout/home.html' %}

{% block main_content %}
<div class=home-slider>
	<div class="slider top">
		{% for bannersnippet in this.get_banner(slot='banner-home').get('bannersnippets', []) %}
		<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}" style=width:100%;height:500px;display:block>
			<div class=slide style="background:url('{{bannersnippet['snippet']['image']['file']['path']}}') center;width:100%;height:500px"></div>
		</a>
		{% endfor %}
	</div>
	<div class=home-slider-nav>
		<a href=javascript: class=homeslider-nav-prev>Prev</a>
		<a href=javascript: class=homeslider-nav-next>Next</a>
	</div>
</div>

<div class=grey-menu style=height:40px;>
	<div class=row-fluid style="width:1000px;margin:auto">
		<div class="col-xs-4 col-md-4 text-center red-title">
			<span>
				<h4>BENEFÍCIO DE <strong>COMPRA</strong></h4>
			</span>
			<span class=pull-right style=position:relative;top:-28px;right:-15px>&bull;</span>
		</div>
		<div class="col-xs-4 col-md-4 text-center red-title">
			<span>
				<h4>BENEFÍCIO DE <strong>ENTREGA</strong></h4>
			</span>
			<span class=pull-right style=position:relative;top:-28px;right:-15px>&bull;</span>
		</div>
		<div class="col-xs-4 col-md-4 text-center red-title">
			<span>
				<h4>BENEFÍCIO <strong>EXCLUSÍVO</strong></h4>
			</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="navtab-products mt-20" style="height:435px;">
		<ul class="nav nav-tabs" role=tablist>
			<li role=presentation class=active>
				<a href=#portas aria-controls=portas role=tab data-toggle=tab>
					<h3>Portas</h3>
				</a>
			</li>
			<li role=presentation>
				<a href=#pisos aria-controls=pisos role=tab data-toggle=tab>
					<h3>Pisos</h3>
				</a>
			</li>
			<li role=presentation>
				<a href=#acessorios aria-controls=acessorios role=tab data-toggle=tab>
					<h3>Acessórios</h3>
				</a>
			</li>
			<li role=presentation>
				<a href=#batentes aria-controls=batentes role=tab data-toggle=tab>
					<h3>Batentes</h3>
				</a>
			</li>
		</ul>
		<div class=tab-content style="margin-top:20px;">
			<div role=tabpanel class="tab-pane active" id=portas style="padding:0">
				<div style="margin-right: 30px; width: 256px; float:left">
					<img src=/madel-assets/img/banner_portas.png style=width:100%;height:350px alt=Banner2>
				</div>
				<div style="width:850px; float:left; height:350px; overflow: auto; overflow-y:hidden;">
					<div class="full-cartridge-4">
						{% for product in this.get_cartdrige( by_hash = "TGPMJG" ) %}
						<div>{% include 'components/product-thumb.html' %}</div>
						{% endfor %}
					</div>
					<div class="full-cartridge-4">
						{% for product in this.get_cartdrige( by_hash = "TGPMJG" ) %}
						<div>{% include 'components/product-thumb.html' %}</div>
						{% endfor %}
					</div>
					<div class="full-cartridge-4">
						{% for product in this.get_cartdrige( by_hash = "TGPMJG" ) %}
						<div>{% include 'components/product-thumb.html' %}</div>
						{% endfor %}
					</div>
					<div class="full-cartridge-4">
						{% for product in this.get_cartdrige( by_hash = "TGPMJG" ) %}
						<div>{% include 'components/product-thumb.html' %}</div>
						{% endfor %}
					</div>
				</div>
				<div class="clear clear-fix"></div>
			</div>
		</div>
	</div>
	<div class="row mt-15 five-banners" style=margin-left:-15px!important>
		<div class="col-xs-12 col-md-8">
			<div class=row>
				<div class="col-xs-12 col-md-12" style=margin-bottom:30px>
					<img src=/madel-assets/img/banner_left_12.png style=height:100%;width:100%; alt="Banner Left 12">
				</div>
				<div class="col-xs-12 col-md-6">
					<img src=/madel-assets/img/banner_left_6_1.png style=height:100%;width:100% alt="Banner Left 6 1">
				</div>
				<div class="col-xs-12 col-md-6">
					<img src=/madel-assets/img/banner_left_6_2.png style=height:100%;width:100%;float:right alt="Banner Left 6 2">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<img class src=/madel-assets/img/banner_right_4.png style=height:100%;width:100% alt="Banner Right 4">
		</div>
	</div>
	<div class="row mt-30">
		<div id=madel-products-offers class="col-xs-12 col-md-12">
			<div class="carousel slide hidden-xs" data-ride=carousel>
				<div class=carousel-inner>
					<div class="item active">
						<div class=row>
							{% for product in this.get_cartdrige( by_hash = "HYVSMX" ) %}
							<div class="col-xs-12 col-md-3">
								{% include 'components/product-thumb.html' %}
							</div>
							{% endfor %}
						</div>
					</div>
					<div class=item>
						<div class=row>
							{% for product in this.get_cartdrige( by_hash = "HYVSMX" ) %}
							<div class="col-xs-12 col-md-3">
								{% include 'components/product-thumb.html' %}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-15">
		<div class="col-xs-12 col-md-12">
            <h3 class="text-center">Ofertas especiais</h3>
        </div>
		<div class="col-md-12 mb-20 mt-10">
			<div class="full-cartridge-5">
				{% for product in this.get_cartdrige( by_hash = "CXSXBW" ) %}
				<div>{% include 'components/product-thumb.html' %}</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src=/madel-assets/img/banner.png style=height:100%;width:100%; alt=banner>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src=/madel-assets/img/banner.png style=height:100%;width:100%; alt=banner>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src=/madel-assets/img/banner.png style=height:100%;width:100%; alt=banner>
		</div>
	</div>
	<div class="row mt-30">
		<div class="col-xs-12 col-md-6">
			<div class="well well-md text-center"  style=height:100%;width:100%;>
				<h3 class=red-title>Atendimento</h3>
				<p style=font-size:12px>Horário de atendimento: Segunda a Sábado das 8h às 20h, Domingo das 9h às 18h.</p>
				<h3>SAC: 11 2888-4444</h3>
				<button href=# class="btn btn-danger btn-contact-us" role=button>CHAT</button>
				&nbsp;&nbsp;OU&nbsp;&nbsp;
				<button href=# class="btn btn-danger btn-contact-us" role=button>CONTATO</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src=/madel-assets/img/banner_end_2.png style=height:100%;width:100%; alt="Banner End 2">
		</div>
	</div>
</div>
{% endblock %}
