{% extends 'layout/product.html' %}

{% block main_content %}
<div class="container">
	<div class=content-category ng-controller="sku" ng-init="selleroffer_id = {{sku.offer.id}}">
		<div class="row mt-15">
			<div class="col-xs-12 col-md-6">
				<div class=row>
					<div class=col-sm-12>
						<ul class=breadcrumb>
						    {% for bread in product.breadcrumbs %}
		                        <li><a href="{{bread.link}}">{{bread.name}} </a></li>
		                    {% endfor %}
						</ul>
					</div>
					<div class="col-md-2 mini-images" id="galerythumb" style="height:500px;">
						{% for image in sku.images %}
						<div style="margin-bottom:10px">
							<a href=javascript:;><img src="{{image.resize(100,100)}}" data-src-zoom="{{image.resize(1000,1000)}}" style="width:80px; height:80px;"></a>
						</div>
						{% endfor %}
					</div>
					<div class="col-md-10 p-0" id="imagezoom">
						{% with firstimage = sku.images[0] %}
							{% if firstimage %}
								<img src="{{firstimage.resize(1000,1000)}}" alt class="zoom-img" style="width:500px; height:500px;"/>
							{% endif %}
						{% endwith %}
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class=row>
					<div class=col-md-7>
						<div class=row>
							<div class=col-md-12>
								<h5 class=title-product>
									<strong>{{sku.name}}</strong>
									<br>
									<small> Vendido e entregue por <a href="#">{{sku.offer.seller.name}}</a></small>
									<br><br>
									<div class=review-general>
										<small>
											<ul class="rating">
												{% for star in range(0, sku.rating.avg|int) %}
												<li></li>
												{% endfor %}
												{% for star in range(sku.rating.avg|int, 5) %}
												<li class="empty"></li>
												{% endfor %}
											</ul>
											({{sku.rating.count}} avaliações)
										</small>
									</div>
								</h5>
							</div>
							{% if sku.product.variants|length > 0 %}
								{% for variant in sku.product.variants %}
									{% set variant = sku.product.variants[variant] %}
									<div class=col-md-12>
										<h5>{{variant.attribute.name}}</h5>
										<div class=variant>
											{% for value in variant.get('values') %}
											<div>{{value}}</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							{% endif %}
							<!-- <div class=col-md-12>
								<h5 class=pl-5>Essência</h5>
								<div class=essence>
									<div>
										<img src=/img/essence/wood1.jpg>
									</div>
									<div>
										<img src=/img/essence/wood2.jpg>
									</div>
									<div>
										<img src=/img/essence/wood3.jpg>
									</div>
								</div>
							</div> -->
							{% include 'components/buy-box.html' %}
						</div>
					</div>
					<div class=col-md-5>
						<div id=carousel-relacionados class="carousel vertical slide">
							<div class=arrow-relacionados href=#carousel-relacionados role=button data-slide=prev>
								<span class="glyphicon glyphicon-chevron-up" aria-hidden=true></span>
								<span class=sr-only>Previous</span>
							</div>
							<div class="carousel-inner pt-15" style="border:1px solid rgba(0,0,0,0.1);border-top:0;border-bottom:0; padding:10px" role=listbox>
								<div class="item active pa-0" style=width:100%>
									<div class=row-fake>
										<div class="col-md-6 pa-5">
											<div class=thumbnail><img src=http://static.cdn-mkplace.com.br/storage/jpg/f9d550c5e6dbff4381afa966de07ec57118ad2ec0bd1c3cdeba6984db7e797d0.jpg?width=100&height=100 alt=...></div>
										</div>
										<div class="col-md-6 pa-5" style="font-size:10px; height:120px;">
											Conunto Sala de Jantar Mesa...<br>
											<span class="product-old-price pl-0">
											De <s>R$ 999,99</s><br>
											</span>
											<span class="product-new-price pl-0">
											Por <b>R$ 99,99</b>
											</span>
											<button class="btn btn-block btn-grey">COMPRAR</button>
										</div>
									</div>
									<div class=row-fake>
										<div class="col-md-6 pa-5">
											<div class=thumbnail><img src=http://static.cdn-mkplace.com.br/storage/jpg/f9d550c5e6dbff4381afa966de07ec57118ad2ec0bd1c3cdeba6984db7e797d0.jpg?width=100&height=100 alt=...></div>
										</div>
										<div class="col-md-6 pa-5" style="font-size:10px; height:120px;">
											Conunto Sala de Jantar Mesa...<br>
											<span class="product-old-price pl-0">
											De <s>R$ 999,99</s><br>
											</span>
											<span class="product-new-price pl-0">
											Por <b>R$ 99,99</b>
											</span>
											<button class="btn btn-block btn-grey">COMPRAR</button>
										</div>
									</div>
									<div class=row-fake>
										<div class="col-md-6 pa-5">
											<div class=thumbnail><img src=http://static.cdn-mkplace.com.br/storage/jpg/f9d550c5e6dbff4381afa966de07ec57118ad2ec0bd1c3cdeba6984db7e797d0.jpg?width=100&height=100 alt=...></div>
										</div>
										<div class="col-md-6 pa-5" style="font-size:10px; height:120px;">
											Conunto Sala de Jantar Mesa...<br>
											<span class="product-old-price pl-0">
											De <s>R$ 999,99</s><br>
											</span>
											<span class="product-new-price pl-0">
											Por <b>R$ 99,99</b>
											</span>
											<button class="btn btn-block btn-grey">COMPRAR</button>
										</div>
									</div>
									<div class=row-fake>
										<div class="col-md-6 pa-5">
											<div class=thumbnail><img src=http://static.cdn-mkplace.com.br/storage/jpg/f9d550c5e6dbff4381afa966de07ec57118ad2ec0bd1c3cdeba6984db7e797d0.jpg?width=100&height=100 alt=...></div>
										</div>
										<div class="col-md-6 pa-5" style="font-size:10px; height:120px;">
											Conunto Sala de Jantar Mesa...<br>
											<span class="product-old-price pl-0">
											De <s>R$ 999,99</s><br>
											</span>
											<span class="product-new-price pl-0">
											Por <b>R$ 99,99</b>
											</span>
											<button class="btn btn-block btn-grey">COMPRAR</button>
										</div>
									</div>
								</div>
							</div>
							<div class=arrow-relacionados href=#carousel-relacionados role=button data-slide=next>
								<span class="glyphicon glyphicon-chevron-down" aria-hidden=true></span>
								<span class=sr-only>Next</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navtab-products mt-20">
			<ul class="nav nav-tabs" role=tablist>
				<li role=presentation class=active>
					<a href=#infoproduct aria-controls=infoproduct role=tab data-toggle=tab>
						<h3>Informação do Produto</h3>
					</a>
				</li>
				<!-- <li role=presentation>
					<a href=#help aria-controls=help role=tab data-toggle=tab>
						<h3>Dúvida Sobre a Instalação</h3>
					</a>
				</li> -->
				<li role=presentation>
					<a href=#reviews aria-controls=reviews role=tab data-toggle=tab>
						<h3>Avaliações</h3>
					</a>
				</li>
				<!-- <li role=presentation>
					<a href=#support aria-controls=support role=tab data-toggle=tab>
						<h3>Tire suas Dúvidas</h3>
					</a>
				</li> -->
			</ul>
			<div class=tab-content>
				<div role=tabpanel class="tab-pane active" id=infoproduct>
					<div class="mt-20">
						<div class="col-xs-12 col-md-12">
							<b>{{sku.name}}</b>
							<br><br>
							<div class="">
								{{product.description|safe}}
							</div>
							<br>
							{% if product.attributes|length > 0 %}
							<h3 id=caracteristicas class=title-underline style="margin:20px 0"><span>Características</span></h3>
							<table class="table table-striped">
								<tbody>
									{% for attribute in product.attributes %}
									<tr>
										{% if attribute.attribute_value %}
										<td width=200><strong>{{attribute.attribute_name}}</strong></td>
										<td>{{attribute.attribute_value}}</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
						</div>
					</div>
				</div>
				<div role=tabpanel class="tab-pane" id=help>
					<div class="mt-20">
						<div class="col-xs-12 col-md-12">
							<div class="row mb-20">
								<div class="col-md-2 pa-0">
									<div class=red-text>Dúvidas sobre a Instalação</div>
								</div>
								<div class="col-md-10 pa-0">
									<div class=red-trace></div>
								</div>
							</div>
							<div class=row>
								<div class="col-xs-12 col-md-6">
									<div>
										<h3 class="black-text mb-20">Lorem ipsum dolor sit amet</h3>
										<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
										eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
										sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
										qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
										labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
										suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
										velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<iframe width=560 height=315 src=https://www.youtube.com/embed/fMXcvNoNqEI frameborder=0 allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role=tabpanel class="tab-pane" id=reviews>
					<div class="mt-20">
						<div class="col-xs-12 col-md-12">
							<div class="row mb-10">
								<div class="col-md-1 pa-0">
									<div class=red-text>Avaliações</div>
								</div>
								<div class="col-md-11 pa-0">
									<div class=red-trace></div>
								</div>
							</div>
							<div class=row>
								<div class="col-xs-12 col-md-12 mb-20 text-right">
									<button class="btn btn-red">DEIXE AQUI SEU COMENTÁRIO</button>
								</div>
								{% for review in sku.reviews %}
								<div class=col-md-3>
									<div class="well well-sm review">
										<div class=mb-5>
											<ul class="rating">
												{% for star in range(0, review.rating) %}
												<li></li>
												{% endfor %}
												{% for star in range(review.rating, 5) %}
												<li class="empty"></li>
												{% endfor %}
											</ul>

											{% if review.customer.entity %}
			                                    <b>{{review.customer.entity.legal_name }}</b>
			                                {% else %}
			                                    <b>Visitante</b>
			                                {% endif %}
										</div>
										<small>{{review.text}}</small>
									</div>
								</div>
		                        {% endfor%}
								{% if not sku.reviews %}
								<h2 class="text-muted text-center">
									Nenhuma avaliação para esse produto
									<br /><small>Seja o primeiro a avaliar esse produto</small>
								</h2>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div role=tabpanel class=tab-pane id=support>
					<div class="mt-20">
						<div class="col-xs-12 col-md-12">
							TEXTO
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-20">
			<div class="col-xs-12 col-md-12">
				<h3 class="red-text text-center">Você também pode gostar</h3>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class=carousel-group>
					<div class="row mt-10">
						<div class="col-xs-12 col-md-12">
							<div class="full-cartridge-5">
								{% for product in this.get_cartdrige( by_hash = "CXSXBW" ) %}
								<div>{% include 'components/product-thumb.html' %}</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class=row>
			<div class="col-xs-12 col-md-12">
				<h3 class="red-text text-center">Indicamos para você</h3>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class=carousel-group>
					<div class="row mt-20">
						<div class="col-xs-12 col-md-12">
							<div class=row>
								<div class="col-xs-12 col-md-3">
									<div class="thumbnail thumbnail-madel">
										<span class=discount-tag style=position:relative;top:25px;left:-4px>30% OFF</span>
										<div class=img-photo-product>
											<span class=heart-product-image>
											<span class="glyphicon glyphicon-heart"></span>
											</span>
											<img src=https://images-shoptime.b2w.io/produtos/01/00/item/122722/4/122722458_4GG.jpg alt="Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate">
											<span class=fullscreen-product-image>
											<span class="glyphicon glyphicon-resize-full"></span>
											</span>
											<span class=variant-product-image>
											<span class="glyphicon glyphicon-tint"></span>
											</span>
										</div>
										<div class=caption>
											<p style=font-size:10px>Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate</p>
											<p>
												<span class=product-old-price>
												De <s>R$ 999,99</s><br>
												</span>
												<span class=product-new-price>
												Por <b style=font-size:18px>R$ 99,99</b> à vista
												</span>
											</p>
											<p style=font-size:10px><a href=# class="btn btn-danger btn-block see-detail" role=button>Ver mais detalhes</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="thumbnail thumbnail-madel">
										<span class=discount-tag style=position:relative;top:25px;left:-4px>30% OFF</span>
										<div class=img-photo-product>
											<span class=heart-product-image>
											<span class="glyphicon glyphicon-heart"></span>
											</span>
											<img src=https://images-shoptime.b2w.io/produtos/01/00/item/122722/4/122722458_4GG.jpg alt="Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate">
											<span class=fullscreen-product-image>
											<span class="glyphicon glyphicon-resize-full"></span>
											</span>
											<span class=variant-product-image>
											<span class="glyphicon glyphicon-tint"></span>
											</span>
										</div>
										<div class=caption>
											<p style=font-size:10px>Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate</p>
											<p>
												<span class=product-old-price>
												De <s>R$ 999,99</s><br>
												</span>
												<span class=product-new-price>
												Por <b style=font-size:18px>R$ 99,99</b> à vista
												</span>
											</p>
											<p><a href=# class="btn btn-danger btn-block see-detail" role=button>Ver mais detalhes</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="thumbnail thumbnail-madel">
										<span class=discount-tag style=position:relative;top:25px;left:-4px>30% OFF</span>
										<div class=img-photo-product>
											<span class=heart-product-image>
											<span class="glyphicon glyphicon-heart"></span>
											</span>
											<img src=https://images-shoptime.b2w.io/produtos/01/00/item/122722/4/122722458_4GG.jpg alt="Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate">
											<span class=fullscreen-product-image>
											<span class="glyphicon glyphicon-resize-full"></span>
											</span>
											<span class=variant-product-image>
											<span class="glyphicon glyphicon-tint"></span>
											</span>
										</div>
										<div class=caption>
											<p style=font-size:10px>Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate</p>
											<p>
												<span class=product-old-price>
												De <s>R$ 999,99</s><br>
												</span>
												<span class=product-new-price>
												Por <b style=font-size:18px>R$ 99,99</b> à vista
												</span>
											</p>
											<p><a href=# class="btn btn-danger btn-block see-detail" role=button>Ver mais detalhes</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="thumbnail thumbnail-madel">
										<span class=discount-tag style=position:relative;top:25px;left:-4px>30% OFF</span>
										<div class=img-photo-product>
											<span class=heart-product-image>
											<span class="glyphicon glyphicon-heart"></span>
											</span>
											<img src=https://images-shoptime.b2w.io/produtos/01/00/item/122722/4/122722458_4GG.jpg alt="Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate">
											<span class=fullscreen-product-image>
											<span class="glyphicon glyphicon-resize-full"></span>
											</span>
											<span class=variant-product-image>
											<span class="glyphicon glyphicon-tint"></span>
											</span>
										</div>
										<div class=caption>
											<p style=font-size:10px>Conjunto Sala de Jantar Mesa Malta 1,60m e 6 Cadeiras Grécia Rufato Wengué/Carvalho/Animalle Chocolate</p>
											<p>
												<span class=product-old-price>
												De <s>R$ 999,99</s><br>
												</span>
												<span class=product-new-price>
												Por <b style=font-size:18px>R$ 99,99</b> à vista
												</span>
											</p>
											<p><a href=# class="btn btn-danger btn-block see-detail" role=button>Ver mais detalhes</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row text-center">
			<div class="col-xs-12 col-md-6 text-right">
				<img src=/madel-assets/img/banners/banner1.png>
			</div>
			<div class="col-xs-12 col-md-6 text-left">
				<img src=/madel-assets/img/banners/banner1.png>
			</div>
		</div>
	</div>

</div>
{% endblock %}
