{% extends 'layout/search.html' %}

{% block main_content %}
{% if search.skus|length == 0 %}
<div class="banner-category banner-busca-vazia">
    <div class="container">
        <div class="box-busca">
            <div class="col-md-5">
                <p class="display-block mt-40 mb-5">Busca por '<strong>Prota</strong>'</p>
                <h1 class="red-text text-uppercase mt-10" style="font-size: 36px;">não retornou resultados</h1>
                <div class="input-group">
                    <input type="text" class="form-control border-radius-0" placeholder="O QUE VOCÊ ESTÁ PROCURANDO?">
                    <span class="input-group-btn">
                    <button class="btn btn-default border-radius-0" type="button"><i class="fa fa-search text-red" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="ml-30 col-md-5">
                <p class="text-uppercase bold">Algumas dicas que podem contribuir para sua busca</p>
                <ol class="pa-15 pt-0 line-height-40px">
                    <li>Verifique se a ortografia está correta</li>
                    <li>Procure utilizar o nome exato do que procura, ou utilize palavras relacionadas</li>
                    <li>No caso de uma grande lista de resultados, acrescente mais palavras</li>
                    <li>Facilite a busca incluindo características</li>
                </ol>
            </div>
            {% include 'components/search-filters.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class=row>
        <div class="col-xs-12 col-md-12"><h3 class="red-text text-center">Você também pode gostar</h3></div>
        <div class="col-xs-12 col-md-12">
            <div class=carousel-group>
                <div class="row mt-20">
                    <div class="col-xs-12 col-md-12">
                        <div class="full-cartridge-5">
                            {% for product in this.get_cartdrige( by_hash = "CXSXBW" ) %}
                            <div>{% include 'components/product-thumb.html' %}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="banner-category pisos">
    <div class="box">
        <div class="content">
            <h1 class="red-text" style="font-size: 55px;">Pisos</h1>
            <p>Lorem ipsum dolor sit arnet, consectetur
            Lorem ipsum dolor sit arnet, consectetur
            Lorem ipsum dolor sit arnet, consectetur
            Lorem ipsum dolor sit arnet, consectetur
            Lorem ipsum dolor sit arnet, consectetur
            Lorem ipsum dolor sit arnet, consectetur</p>
        </div>
    </div>
</div>
<div class="content-category container">
	{% include 'components/search-filters.html' %}
    <div class="carousel-group mt-5">
		<div class="product-list">
			{% for product in search.skus %}
				{% include 'components/product-thumb.html' %}
			{% endfor %}
		</div>
	</div>
	<div>
        <ul class=list-pagination>
    		{% for page in this.pagination.pages %}
    		<li {% if page.is_current %}class="active"{% endif %}><a {% if page.is_current %}class="active"{% endif %} href="{{page.link}}">{{page.count}}</a></li>
    		{% endfor %}
    	</ul>
	</div>
</div>
{% endif %}
{% endblock %}
