<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
        <title>Home to go</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/hometogo-assets/css/app.css">
        <link rel="stylesheet" href="/hometogo-assets/css/htg.css">

        {% include 'components/tag-head.html' %}
    </head>
    <body ng-app="catalog" ng-controller="main">
        {% include 'components/header-login.html' %}
        <div class="parallax">
            <div class="container">

                <div class="slide-effect">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner text-center" role="listbox">
                        <div class="item active">
                          <!-- <div class="carousel-caption"> -->
                            <div class="text">As melhores marcas</div>
                            <div class="text"> com preço direto de fábrica.</div>
                          <!-- </div> -->
                        </div>
                        <div class="item">
                          <!-- <div class="carousel-caption"> -->
                          <div class="text">As melhores marcas</div>
                          <div class="text"> com preço direto de fábrica.</div>
                          <!-- </div> -->
                        </div>
                      </div>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-image: none;">
                        <span class="glyphicon glyphicon-chevron-left glyphicon-menu-left" style="margin-left: -50px;" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image: none;">
                        <span class="glyphicon glyphicon-chevron-right glyphicon-menu-right" style="margin-right: -50px;" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>

                      <!-- Indicators -->
                      <ol class="carousel-indicators" style="top: 130%;">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      </ol>

                    </div>
                </div>

                <div class="play-video text-center" style="margin-top: 100px;margin-bottom: 5%;">
                    <!-- <h1 class="glyphicon glyphicon-play" style="border: 3px solid #fff;cursor:pointer;border-radius: 50%;padding: 5px;"></h1><br> -->
                    <a href="#" onclick="$('#MediaUploadModal').modal('show');" class="display-block">
                        <img src="/hometogo-assets/img/play.png">
                    </a>
                    assista e descubra!
                </div>

            </div>
        </div>
        <div class="whitediv" style="height: 430px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-6" style="position: relative;top: 28px;">

                        <div class="text-group">
                            <h3 class="pink-text bolded">O que é a home to go?</h3>
                            <p>Um shopping voltado para grupos fechados de
                                clientes com produtos e serviços das melhores
                                marcas, preços e condições especiais</p>
                        </div>

                        <div class="text-group">
                            <h3 class="pink-text bolded">O que você vai encontrar aqui?</h3>
                            <p>A Home To Go reúne grandes fabricantes do pais.
                                Tudo para sua casa e sua vida em um só lugar, com
                                garantia, instalação e nota fiscal de fábrica.</p>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <ul class="services">
                                    <li>Eletrodomésticos</li>
                                    <li>Decoração</li>
                                    <li>Lifestyle</li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <ul class="services">
                                    <li>Serviços Financeiros</li>
                                    <li>Serviços</li>
                                    <li><a class="link-blue" href="#">Descubra mais aqui</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="image-bottom" style="position: initial !important">
                            <img src="/hometogo-assets/img/botao.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax" style="height: 500px;">
            <div class="container" style="position:relative;">
                <div class="row">

                    <div class="col-md-6">
                        <div class="image-bottom image-coffe">
                            <img src="/hometogo-assets/img/cafe.png">
                        </div>
                    </div>

                    <div class="col-md-6 text-polity-sale">

                        <div class="text-group">
                            <h3 class="white-text bolded">Qual é a politica de preços?</h3>
                            <p>Pode ser um shopping para grupos fechados de pessoas, a Home To Go trabalha
                                com políticas de preços especiais. Um e-commerce totalmente integrado às
                                marcas com benefícios exclusivos e <span class="yellow-text">descontos de até</span>
                            </p>
                            <img class="img-discount" src="/hometogo-assets/img/desconto.png"></img>
                        </div>

                        <div class="text-group" style="margin-top:40px;">
                            <h3 class="white-text bolded">Eu posso comprar?</h3>
                            <p>A Home To Go tem parceria com incorporadoras, instituições financeiras,
                                clubes, associações, além de grandes empresas do mercado. Oferecemos
                                nossos benefícios para clientes, colaboradores, associados dessas
                                instituições. Os clientes convidados recebem uma chave de acesso
                                que permite a realização do cadastro.</p>
                        </div>

                        <p><a href="#" class="link-white">Descubra quem pode fazer parte</a></p>

                    </div>

                </div>
            </div>
        </div>
        <div class="blackdiv" style="height: 435px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 text-payment-method">
                        <div class="text-group">
                            <h2>Formas de compra</h2>
                            <h3 class="white-text bolded">Carrinho de compra <img src="/hometogo-assets/img/cart_mini.png" style="width: 24px;margin-top: -7px;"></h3>
                            <p>A Home To Go é um e-commerce que funciona
                                em formato de marketplace, onde as marcas
                                vendem seus produtos em nosso shopping com
                                condições especiais.</p>
                        </div>
                        <div class="text-group">
                            <h3 class="white-text bolded">Cupom de desconto <img src="/hometogo-assets/img/porcentagem.png" style="width: 24px;margin-top: -7px;"></h3>
                            <p>Você também encontra cupons de desconto
                                exclusivos para imprimir e utilizar em lojas
                                físicas dos parceiros de decoração, home
                                centers e serviços.</p>
                        </div>
                    </div>

                    <div class="col-md-6" style="float: right;">
                        <div class="image-right" style="top: -40px;position: relative;">
                            <img class="image-cupons" src="/hometogo-assets/img/blocos-quadros.png">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="parallax" style="height: 365px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-6" style="position: absolute;width: 515px;margin-top: 80px;">
                        <div class="text-group">
                            <h2 class="white-text bolded">Atendimento premium</h2>
                            <p>Além da venda online, a Home To Go tem uma central consultiva de vendas para
                                auxiliá-lo em seus projetos e pedidos exclarecendo dúvidas sobre os produtos e
                                serviços oferecidos. Os pedidos são acompanhados junto aos fabricantes para
                                que você receba dentro do prazo.</p>
                        </div>
                        <div class="text-group">
                            <h1 class="white-text bolded">Ligue: 3500.1830</h1>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="image-right image-all-products">
                            <img width="700" src="/hometogo-assets/img/all-products.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whitediv" style="height: 300px;">
            <div class="container">
                <div class="col-md-6" style="position: absolute;width: 450px;margin-top: 45px;margin-left: -15px;">
                    <div class="text-group">
                        <h2 style="margin-bottom: 35px;" class="bolded">Siga a Home to Go</h2>
                        <p>A Home to Go está presente nas redes sociais, aplicativo e blog para
                            você ficar informado sobre ofertas e promoções das grandes marcas,
                            além de dicas e conteúdo sobre tecnologia, decoração e estilo de vida.</p>
                    </div>
                    <div class="text-group">
                        <div class="row">
                            <div class="col-md-7">
                                <a href="#" style="cursor:pointer;"><img width="50" src="/hometogo-assets/img/instagram.png"></a>
                                <a href="#" style="cursor:pointer;"><img width="50" src="/hometogo-assets/img/facebook.png"></a>
                                <a href="#" style="cursor:pointer;"><img width="50" src="/hometogo-assets/img/redesocial.png"></a>
                                <!--<a href="#" style="cursor:pointer;"><img width="50" src="/hometogo-assets/img/hometogo-icone.png"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="MediaUploadModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        	<div class="modal-dialog" style="width:890px">
        		<button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<iframe width="890" id="video_login" height="500" src="https://www.youtube.com/embed/B6gFZKmD4l8?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        	</div>
        </div>


        {% include 'components/footer-login.html' %}

        <!-- Main content -->
        {% block main_content %}{% endblock %}

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/hometogo-assets/js/jquery.nicescroll.min.js"></script>
        <script>
            $(document).ready(
                function() {
                    $('.carousel').carousel();

                    $("html").niceScroll({
                        scrollspeed: 60,
                        hwacceleration: true
                    });

                    $('.btn-keep-connected').on('click', function(){
    					$(this).find('.checkoption').toggleClass('active');
    					if( $(this).find('.checkoption').hasClass('active') ){
    						$('[name="login[keep_connected]"]').val(true);
    					}else{
    						$('[name="login[keep_connected]"]').val(false);
    					}
    				});

                    if(window.location.href.indexOf('#AccessRequestModal') != -1) {
                        $('#AccessRequestModal').modal('show');
                    };

                    $('#MediaUploadModal').on('hidden.bs.modal', function () {
                        state = 'hide'
                        var iframe = document.getElementsByTagName("iframe")[0].contentWindow;
                        func = 'pauseVideo';
                        iframe.postMessage('{"event":"command","func":"' + func + '","args":""}','*');
                    });
                }
            );
        </script>

    </body>
</html>
