{% set product = this.load_product() %}
{% set sku = product.current_sku %}
<!DOCTYPE html>
<html ng-app="catalog" ng-controller="main">
	<head>
		<title>{{product.current_sku.name if product.current_sku else product.name}} - Madel</title>
		{% include 'components/tag-head.html' %}
	</head>
	<body class=container style=width:100%;padding-left:0;padding-right:0 ng-controller="custom">
		{% include 'components/header.html' %}

		{% block main_content %}{% endblock %}

		{% include 'components/footer.html' %}
	</body>
</html>
