<div class="footer mt-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <div class="row">
                    <div class="col-sm-4 mt-40">
                        <strong>Formas de pagamento</strong>
                    </div>
                    <div class="col-sm-3 mt-35">
                        <img src="/assets/img/formas.png" alt="Selo">
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="row">
                    <div class="col-sm-6 mt-40 text-right">
                        <strong>Certificados de segurança</strong>
                    </div>
                    <div class="col-sm-5 mt-5 text-right">
                        <img src="/assets/img/selo_madel.png" alt="Selo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
