<!-- extras -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<link href=/common/assets/css/bootstrap.min.css rel=stylesheet>
<link href="/common/assets/css/utils.css" rel="stylesheet">
<link href="/common/assets/css/app.css" rel="stylesheet">
<link href="/common/assets/css/perfect-scrollbar.min.css" rel="stylesheet">
<link href=/common/assets/css/font-awesome.min.css rel=stylesheet>

<link href=/common/assets/css/exclusive.page.css rel=stylesheet>
<link href=/common/assets/css/breadcrumbs.css rel=stylesheet>
<link href=/common/assets/css/carousel.vertical.css rel=stylesheet>

<link href="/assets/css/custom.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- dependencies -->
<script src="/common/assets/js/jquery-2.1.4.min.js" charset=utf-8></script>
<script src="/common/assets/js/angular-1.4.7.min.js" charset=utf-8></script>
<script src="/common/assets/js/ng-mkplace-1.0.js" charset=utf-8></script>
<script src="/common/assets/js/mkplace.conf.js"></script>

<script src=/common/assets/js/jquery.bxslider.min.js></script>
<script src="/common/assets/js/toastr.js" charset=utf-8></script>
<script src="/common/assets/js/starrr.js"></script>

<script type="text/javascript">
    // mask
    $(document).ready(function(){
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    });
</script>
<script src=/common/assets/js/bootstrap-3.3.7.js></script>
<script src=/common/assets/js/jquery.mask.js></script>
