{% extends 'layout/static.html' %}

{% block page_title %}Assistencia Técnica{% endblock %}

{% block main_content %}
<div class="banner-category pisos">
	<div class="box">
		<div class="content">
			<h1 class="red-text" style="font-size:55px">Pisos</h1>
			<p>Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
			</p>
		</div>
	</div>
</div>
<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Assistencia Técnica</h2>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-6">
						<h4 class="text-uppercase bold">EQUIPE MADEL</h4>
						<p>A Madel possui uma grande equipe de Assistência Técnica para atendimento rápido e profissional de nossos clientes. Além de profissionais capacitados, possuímos uma frota de veículos destinados exclusivamente aos casos de Assistência, além de um sistema informatizado para o controle dos atendimentos.</p>
					</div>
					<div class="col-md-6">
                        <img src="/madel-assets/img/institucional/Madel_Instituciona2_05.jpg" alt="Madel" class="responsive"/>
					</div>
				</div>
				<div class="row border-3 pb-30 pt-30 mb-10">
					<div class="col-md-6">
						<h4 class="text-uppercase bold">FROTA PRÓPRIA</h4>
						<p>A impermeabilização é importante, mas antes de pintá-la, lixe-a por completo de maneira delicada para não estragar os detalhes do produto. Depois é possível passar um selador para fechar os poros da madeira para receber de quatro a cinco mãos de impermeabilizante.
							<br/>Se quiser utilizar um tingidor, o mesmo deve estar na primeira mão, a pintura deve ser feita a cada dois anos em casos de pouca exposição à chuva e sol, e a cada seis meses para locais onde ficam mais expostas e desprotegidas.
							<br/>As dobradiças e fechaduras são itens importantes de suas portas e janelas de madeira e devem ser lubrificadas periodicamente com grafite em pó.
						</p>
					</div>
					<div class="col-md-6">
                        <img src="/madel-assets/img/institucional/Madel_Instituciona2_11.jpg" alt="Madel" class="responsive"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
