{% extends 'layout/static.html' %}

{% block page_title %}Depoimentos{% endblock %}

{% block main_content %}
<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Depoimentos</h2>
				<div class="row border-3 pb-30 pt-30 mb-10">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">Ver você satisfeito faz a madel satisfeita</h4>
						<p>Mais do que vender o que há de melhor no mercado, queremos proporcionar a você uma experiência única, do tamanho da sua expectativa</p>
					</div>
				</div>
				<div class="row">
					<p class="clearfix text-red bold pb-20 pt-20" style="font-size:25px">O que os clientes Madel estão dizendo:</p>
					<div class="col-md-6 mb-20">
						<img src="https://dummyimage.com/200x300/000/fff" alt="Madel" class="float-left mr-20"/>
						<h4 class="text-uppercase bold">Nome do cliente</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 mb-30">
						<img src="https://dummyimage.com/200x300/000/fff" alt="Madel" class="float-left mr-20"/>
						<h4 class="text-uppercase bold">Nome do cliente</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 mb-30">
						<img src="https://dummyimage.com/200x300/000/fff" alt="Madel" class="float-left mr-20"/>
						<h4 class="text-uppercase bold">Nome do cliente</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 mb-30">
						<img src="https://dummyimage.com/200x300/000/fff" alt="Madel" class="float-left mr-20"/>
						<h4 class="text-uppercase bold">Nome do cliente</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<div class="row text-center mt-20 mb-20">
					<button class="btn btn-red pl-50 pr-50 text-uppercase">Deixe seu Depoimento</button>
				</div>
				<div class="col-md-6 border-3 pb-30 pt-30 mt-30 mb-10">
					<p class="clearfix text-red bold" style="font-size:25px">SEU DEPOIMENTO</p>
					<p class="pt-10 pb-20 cleafix">Falta pouco para você adicionar seu prdoutdo ao carrinho, por favor, confirme as informações abaixo:</p>
					<form class="form row">
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Nome Completo</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputName2" class="text-uppercase"><strong>Profissão</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputName2" class="text-uppercase"><strong>Tel. Residencial</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Endereço</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Loja em que comprou</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12 mt-20">
							<label for="exampleInputName2" class="text-uppercase"><strong>Depoimento</strong></label>
							<textarea type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder=""></textarea>
						</div>
						<div class="col-md-7 mt-30">
							<i class="fa fa-3x fa-user-circle-o float-left" aria-hidden="true" style="margin-top:-5px"></i>
							<label class="btn btn-default btn-file border-radius-0" style="padding:5px 10px; margin-left:5px">
							Adicionar imagem <input type="file" style="display: none;">
							</label>
						</div>
						<div class="col-md-5 mt-30 pb-30 text-right">
							<button class="btn btn-red pl-50 pr-50">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
