{% extends 'layout/static.html' %}

{% block page_title %}Dicas{% endblock %}

{% block main_content %}


<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Dicas Madel</h2>
				<div class="row border-3 pb-30 pt-30 mb-10">
					<div class="col-md-6">
						<h4 class="text-uppercase bold">ESQUADRIAS DE MADEIRA</h4>
						<p>Deve-se tomar cuidado com relação a batidas de portas. Além de causar trincas de madeira e na pintura, poderão causar danos aos revestimentos das paredes e danificar também a fechadura;
						<p>Não aplique produtos abrasivos nas fechaduras e ferragens, utilize apenas uma flanela para limpeza;</p>
						<p>Lubrifique periodicamente as dobradiças e fechaduras com pequena quantidade de grafite em pó. Isso manterá sempre perfeito o seu funcionamento. Utilize óleos lubrificantes, somente nos rolamentos das roldanas;</p>
						<p>Mantenha sempre protegida sua esquadria, com vernizes e tintas de boa qualidade, para que tenham uma longa vida útil.</p>
					</div>
					<div class="col-md-6">
						<img src="/madel-assets/img/institucional/Madel_Institucional3w_05.jpg" alt="Madel" class="responsive"/>
					</div>
				</div>
				<div class="row pb-30 pt-30 mb-10">
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12 border-3" style="height:450px;">
								<img src="/madel-assets/img/institucional/Madel_Institucional3w_09.jpg" alt="Madel" class="responsive mb-10 mt-30"/>
								<h4 class="text-uppercase bold">PISOS DE MADEIRA NATURAL</h4>
								<p>O cuidado com os pisos de madeira natural deve ser redobrado. Em hipótese nenhuma deve-se passar produtos químicos sobre os pisos, como álcool, querosene ou outros solventes.</p>
								<p>Um pano seco, aspirador ou vassoura de pêlos já é suficiente para a limpeza diária dos pisos de madeira.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-12 border-3" style="height:450px;">
								<img src="/madel-assets/img/institucional/Madel_Institucional_09.jpg" alt="Madel" class="responsive mb-10 mt-30"/>
								<h4 class="text-uppercase bold">PISOS VINÍLICOS</h4>
								<p>A limpeza dos pisos laminados é mais fácil, a simples utilização de um pano úmido já deixa o piso em perfeitas condições.</p>
								<p>Não é recomendado produtos à base de cera ou silicone.</p>
								<p>É preciso evitar materiais abrasivos, como saponáceos e esponjas de aço, pois riscam a camada superior do piso.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 border-3 pb-30 pt-30 mb-10 mt-30">
						<div class="col-md-6">
							<h4 class="text-uppercase bold">Infraestrutura</h4>
							<p>A impermeabilização é importante, mas antes de pintá-la, lixe-a por completo de maneira delicada para não estragar os detalhes do produto. Depois é possível passar um selador para fechar os poros da madeira para receber de quatro a cinco mãos de impermeabilizante.</p>
							<p>Se quiser utilizar um tingidor, o mesmo deve estar na primeira mão, a pintura deve ser feita a cada dois anos em casos de pouca exposição à chuva e sol, e a cada seis meses para locais onde ficam mais expostas e desprotegidas.</p>
							<p>As dobradiças e fechaduras são itens importantes de suas portas e janelas de madeira e devem ser lubrificadas periodicamente com grafite em pó.</p>
						</div>
						<div class="col-md-6">
							<img src="/madel-assets/img/institucional/Madel_Institucional3w_15.jpg" alt="Madel" class="responsive"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
