{% extends 'layout/static.html' %}

{% block page_title %}Fale conosco{% endblock %}

{% block main_content %}


<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Fale Conosco</h2>
				<div class="col-md-6 pb-30 pt-30 mb-10">
					<div class="col-md-12 border-3 pt-20 pb-20">
						<h4 class="text-uppercase bold">SAC</h4>
						<p class="text-red bold" style="font-size:25px">(11) 2888-4444</p>
						<hr />
						<p><strong>Horário de Atendimento</strong></p>
						<p class="pt-10 cleafix">Segunda à sexta: das 09 às 19hrs. <br > Sábado: das 09 às 17hrs.</p>
					</div>
					<div class="col-md-12 border-3 pt-20 pb-20 mt-20 mb-20">
						<h4 class="text-uppercase bold">ACESSO FÁCIL</h4>
						<p class="pt-10 cleafix">Perguntas Frequentes. <br > Nossa Lojas <br /> Nossa Lojas <br /></p>
					</div>
					<div class="col-md-12 border-3 pt-20 pb-20">
						<h4 class="text-uppercase bold">Equipe Madel</h4>
						<p class="pt-10 cleafix">Venha fazer parte de nossa equipe, <a href="#">clique</a> para enviar seu currículo.</p>
					</div>
				</div>
				<div class="col-md-6 border-3 pb-30 pt-30 mt-30 mb-10">
					<h4 class="text-uppercase bold">Envie-nos seu e-mai</h4>
					<p class="pt-10 pb-20 cleafix">Seu contato é muito important para nós. Para solicitar orçamento, escolha os produtos desejados e clique em "Solicitar Oraçmento". Para contato com outro departamento, escolha o assunto e preencha o formulário abaixo. Breve retornaremos.</p>
					<form class="form row">
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Nome</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Tel. Residencial</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Telefone</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Cep</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>E-mail</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Selecione a loja</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12">
							<label for="exampleInputName2" class="text-uppercase"><strong>Selecione um assunto</strong></label>
							<input type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder="">
						</div>
						<div class="form-group col-md-12 mt-20">
							<label for="exampleInputName2" class="text-uppercase"><strong>Mensagem</strong></label>
							<textarea type="text" class="form-control width-100 border-radius-0 display-block" id="exampleInputName2" placeholder=""></textarea>
						</div>
						<div class="col-md-12 mt-30 text-center pb-30 text-right">
							<button class="btn btn-red pl-50 pr-50">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
