{% extends 'layout/static.html' %}

{% block page_title %}Regulamento de Campanhas{% endblock %}

{% block main_content %}


<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Regulamento de Campanhas</h2>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">REGULAMENTO</h4>
						<p>*Promoção válida de  03/03/2017 à 09/03/2017, ou enquanto durarem os estoques. * Preços anunciados somente para pagamento à vista * Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. Confirme a tonalidade em nossas lojas.</p>
						<p>Campanha: Promoção da Semana Madel</p>
						<p>Quantidade Máxima pçs por cliente: Portas e Esquadrias =04 peças | Pisos = 100 m² | Deck = 500 metros Linear | Deck WPC Modular = 100 peças</p>
						<p>A Promoção da semana Madel, é válida de 10/03/2017 a 16/03/2017 ou enquanto durarem os estoques. Cód. 89897 - TACO PRONTO HANDSCRAPPED HS (ARTEGIANO) CURTO GUAJUVIRA 12,5X131X305X3MM CX1,60 DURALLE **LOTE. DE R$120,00m² POR R$89,00m². Só madeira. Sem instalação. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. </p>
						<p>A Promoção da semana Madel, é válida de 10/03/2017 a 16/03/2017 ou enquanto durarem os estoques. Cód.4274 – PORTA CAMARÃO SÓLIDA BRISA MADEL 2,10M X 72CM X 3,5CM PADRÃO IMBUIA. De R$406,00 POR R$199,00. Sem Instalação. Só folha. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. </p>
						<p>A Promoção da semana Madel, é válida de 10/03/2017 a 16/03/2017 ou enquanto durarem os estoques. Cód. 48303 – PISO VINIL CLICK PADRÃO PALITO CUMARU 4X152X914MM CX2,229 - NOTOC. De R$119,00m² POR R$89,00m². Sem Instalação. Só madeira. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. </p>
						<p>A Promoção da semana Madel, é válida de 10/03/2017 a 16/03/2017 ou enquanto durarem os estoques. Cód. 59869 – PISO PRONTO MACIÇO ROXINHO 0,79X5,71CM CAIXA 4,366M2-S.BRILHO- MESCLA LOTE**.  POR 10 x R$11,90m². Sem Instalação. Só madeira. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. </p>
						<p>Campanha: Quarta Maluca Madel</p>
						<p>A Promoção da Quarta Maluca é válida somente para 15/03/2017 ou enquanto durarem os estoques. Cód. 81511 – DECK IPE BRANCAL STANDER 2 X 7.5 LISO / ANTI DERRAPANTE LOTE**- De R$7,40 metro linear POR R$5,60 metro linear. Só a madeira. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira.</p>
						<p>A Promoção da Quarta Maluca é válida somente para 15/03/2017 ou enquanto durarem os estoques. Cód. 20625 - PORTA FRISADA SARRAFEADA FLÁVIA 2,10M X 62CM X 3,5CM PADRÃO IMBUIA. De R$281,00 POR R$139,00 - Sem Instalação. Só a folha. Preços anunciados somente para pagamento à vista. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira.</p>
						<p>PROMOÇÃO VAPT VUPT</p>
						<p></p>
						<p>Todos os preços divulgados no site da Madel são válidos para pagamentos à vista em dinheiro, cheque ou depósito bancário. Consulte outras condições de pagamento.</p>
						<p>Produtos divulgados não incluem ferragens e acessórios. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. Confirme a tonalidade em nossa loja.</p>
						<p>Produtos anunciados com instalação, grátis ou inclusos, referem-se a valores à vista e somente para metragens acima de 20m² e instalação em área restrita a Grande São Paulo. Consulte locais disponíveis em nossas lojas.</p>
						<p>Promoções válidas por tempo indeterminado ou até o término dos estoques. A Madel reserva-se o direito de retirar qualquer produto anunciado da promoção, sem aviso prévio.</p>
						<p>Condições promocionais válidas apenas para agendamento de entrega em até 10 dias úteis, a contar a data da compra.</p>
						<p>PRODUTOS OUTLET E PROMOÇÕES</p>
						<p>Todos os preços divulgados no site da Madel são válidos para pagamentos à vista em dinheiro, cheque ou depósito bancário. Consulte outras condições de pagamento. Produtos divulgados somente madeira/material, não incluso ferragens e acessórios. Sem instalação. Imagens meramente ilustrativas, podendo haver variação de tonalidade da madeira. Confirme a tonalidade em nossa loja. Para os produtos identificados como Outlet, considerar como peças únicas de oportunidade. Sem troca. Pisos vendidos em lotes fechados. Produtos vendidos no estado. Peças de mostruário.</p>
						<p>-Produtos anunciados com instalação, grátis ou inclusa, referem-se a valores à vista e somente para metragens acima de 20m² e instalação em área restrita a Grande São Paulo. Consulte locais disponíveis com os consultores.</p>
						<p>-Promoções válidas por tempo indeterminado ou até o término dos estoques. A Madel reserva-se o direito de retirar qualquer produto anunciado da promoção, sem aviso prévio.</p>
						<p>-Alguns produtos referem-se a itens de lote. Para mais informações, fale com um de nossos consultores antes de realizar a compra.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
