{% extends 'layout/static.html' %}

{% block page_title %}Responsabilidade Ambiental{% endblock %}

{% block main_content %}
<div class="banner-category pisos">
	<div class="box">
		<div class="content">
			<h1 class="red-text" style="font-size:55px">Pisos</h1>
			<p>Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
				Lorem ipsum dolor sit arnet, consectetur
			</p>
		</div>
	</div>
</div>
<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Responsabilidade Ambiental</h2>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-6">
						<h4 class="text-uppercase bold">POLÍTICA AMBIENTAL</h4>
						<p>Ciente do papel que representa na sociedade e no meio ambiente, a Madel dispensa atenção especial ao correto aproveitamento dos recursos naturais. Como parte de sua política ambiental, a Madel respeita as leis vigentes de proteção e defesa do meio ambiente, sendo favorável a todas as iniciativas, públicas ou privadas, que tenham como objetivo principal o correto manejo florestal, bem como aos programas que incentivem o reflorestamento. Faz parte dos princípios da Madel trabalhar apenas com madeiras que tenham procedência garantida com certificação do IBAMA.</p>
					</div>
					<div class="col-md-6">
						<img src="/madel-assets/img/institucional/Madel_Institucional_05.jpg" alt="Madel" class="responsive"/>
					</div>
				</div>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-6 mt-40">
						<h4 class="text-uppercase bold mt-40 pt-40">CERTIFICADO DA IBAMA</h4>
						<p>As empresas que possuem o Certificado de Regularidade no IBAMA, estão de acordo com a lei 6.938, de 31 de agosto de 1981, a qual tem por objetivo controlar e monitorar rigorosamente as atividades que possam ter impactos ambientais.</p>
					</div>
					<div class="col-md-6">
						<img src="/madel-assets/img/institucional/Madel_Institucional_12.jpg" alt="Madel" class="responsive"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
