{% extends 'layout/static.html' %}

{% block page_title %}Sobre{% endblock %}

{% block main_content %}
<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Sobre a Madel</h2>
				<div class="row border-3 pb-30 pt-30">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">História</h4>
						<p>A história da Madel começa em 1987. Ainda como revendedora de compensados para o mercado moveleiro, mas com princípios que guiam a empresa até hoje, como dedicação, trabalho, força de vontade e fé em Deus, a Madel adquiriu know-how e identificou potencial para um negócio que mudaria os rumos da empresa: comercialização de portas, janelas, madeiramentos em geral e ferragens.</p>
						<p>A confiança na própria equipe e, principalmente, em Deus deu fôlego e força que foram fundamentais para enfrentar uma fase econômica muito complicada e enxergar horizontes prósperos. Neste momento, apesar da vontade, da fé e da esperança, ninguém imaginava que um dia a Madel seria o que é hoje: uma das empresas mais respeitadas do mercado. Bem vindo a nossa história!</p>
					</div>
				</div>
				<div class="row pb-30 pt-30 mb-10">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 border-3" style="height:345px">
								<h4 class="text-uppercase bold">Valores</h4>
								<p class="pt-20 line-height-40px">Fé<br/>
									Humildade<br/>
									Atitude<br/>
									Comprometimento<br/>
									Transparência<br/>
									União<br/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="col-md-12 border-3" style="height:345px">
							<h4 class="text-uppercase bold">Missão</h4>
							<p>Oferecer aos nossos clientes, de forma segura, com responsabilidade social e ambiental, a mais alta qualidade em produtos e serviços; ser líder em qualidade, custo e satisfação do cliente; trabalhar de forma integrada com nossos colaboradores, para alcançarmos um único objetivo: a excelência no atendimento prestado.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 border-3" style="height:345px">
								<h4 class="text-uppercase bold">Visão</h4>
								<p>Consolidar-se como uma organização empresarial com liderança no segmento de esquadrias e pisos de madeira, para alcançar reconhecimento pela excelência em produtos e serviços. Satisfazer nossos clientes, atendendo às suas necessidades com ética, transparência.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row center">
					<iframe width="877" height="315" src="https://www.youtube.com/embed/mHmnIO2J3pw" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="row border-3 pb-30 pt-30 mb-10 mt-30">
					<div class="col-md-6">
						<h4 class="text-uppercase bold">Infraestrutura</h4>
						<p>Para melhor atender a cada um dos seus milhares de clientes, a Madel conta com uma grande estrutura de lojas, estoques, distribuição e administração. Hoje, a Madel possui um centro administrativo com 2 mil metros quadrados, um depósito de 10 mil metros quadrados e 8 mil metros de lojas bem distribuídas por São Paulo, ABC, Osasco e Guarulhos, sempre próxima do consumidor.</p>
						<p>A administração da empresa está localizada numa moderna sede em São Bernardo do Campo, onde existem auditórios e laboratórios usados para treinar funcionários e parceiros, mantendo sempre o padrão de atendimento e de qualidade da Madel.</p>
					</div>
					<div class="col-md-6">
						<img src="https://dummyimage.com/405x300/000/fff" alt="Madel" class="responsive"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
