{% extends 'layout/static.html' %}

{% block page_title %}Trocas e entregas{% endblock %}

{% block main_content %}
<div class="content-category portal">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'components/static-pages-menu.html' %}
			</div>
			<div class="col-md-9">
				<h2 class="red-text text-center mb-20">Política de Troca e Entrega</h2>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">POLÍTICA DE TROCAS</h4>
						<p>A troca de produtos, entregues ou retirados, deverá ser efetuada somente no depósito de origem dos produtos, o qual está escrito no pedido de compras.
							<br/>A troca será autorizada mediante vistoria por um de nossos funcionários do depósito, o qual avaliará se a peça encontra-se no mesmo estado em que saiu do estoque. Produto não entregue, ou não retirado, deve ter a troca realizada na loja de origem da compra com até 3 dias úteis antes da entrega.
							Os produtos que sofreram algum tipo de serviço (corte, montagem, acabamento, etc) ou que estejam fora de linha, não poderão ser trocados.
						</p>
						<p>As trocas de mercadorias são realizadas de: <br />
							Segunda a Sexta - 8h00 às16h00.
						</p>
						<p>Não trocamos mercadorias aos sábados e feriados.</p>
					</div>
				</div>
				<div class="row border-3 pb-30 pt-30 mb-30">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">POLÍTICA DE ENTREGAS</h4>
						<p>O cuidado com os pisos de madeira natural deve ser redobrado. Em hipótese nenhuma deve-se passar produtos químicos sobre os pisos, como álcool, querosene ou outros solventes.
							<br/ >Um pano seco, aspirador ou vassoura de pêlos já é suficiente para a limpeza diária dos pisos de madeira.
						</p>
					</div>
				</div>
				<div class="row border-3 pb-30 pt-30 mb-10">
					<div class="col-md-12">
						<h4 class="text-uppercase bold">GARANTIA DO PRODUTO</h4>
						<p>A limpeza dos pisos laminados é mais fácil, a simples utilização de um pano úmido já deixa o piso em perfeitas condições.
							<br/>Não é recomendado produtos à base de cera ou silicone.
							<br/>É preciso evitar materiais abrasivos, como saponáceos e esponjas de aço, pois riscam a camada superior do piso.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
