{% extends 'layout/home.html' %}

{% block main_content %}
<div class=home-slider>
	<div class="slider top" style=margin-top:10px>
		{% for bannersnippet in this.get_banner(slot='banner-home').get('bannersnippets', []) %}
		<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}" style=width:100%;height:500px;display:block>
			<div class=slide style="background:url('{{bannersnippet['snippet']['image']['file']['path']}}') center;width:100%;height:500px"></div>
		</a>
		{% endfor %}
	</div>
	<div class=home-slider-nav>
		<a href=javascript: class=homeslider-nav-prev>Prev</a>
		<a href=javascript: class=homeslider-nav-next>Next</a>
	</div>
</div>
<section>
	<div class=container>
		<script>ga("send","pageview","/ecomm_goal/home_page.html");</script>
		<br />
		<br />
		<div class="row container">
			<h3 class="default-title-upper text-center"><strong>DESTAQUES DA SEMANA</strong> | HOME TO GO</h3>
			<br>
			<div class=div-p-20>
				<div class=full-cartridge>{% for product in this.get_cartdrige( by_hash = "NEIKXD" ) %}{% include 'components/product-thumb.html' %}{% endfor %}</div>
			</div>
			<div class="cupombanner row-fluid">
				<div class=row>
					<div class=col-sm-6>
						<a href=/corporativo-s66%22><img src=https://static.hometogo.com.br/images/3/384/Unknown-2-jpeg-38445_535x100.jpeg alt /></a>
					</div>
					<div class="col-sm-6 cupominfo">
						OFERTAS DIRETO DE FÁBRICA PARA SUA EMPRESA <BR> "DESCUBRA COMO FAZER SEU PEDIDO" <BR> SOLUÇÕES E ATENDIMENTO PERSONALIZADOS <br><a href=http://www.hometogo.com.br/corporativo-s66><strong>CONHEÇA</strong></a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row homeslides">
				<div class=col-sm-4 style=padding-right:0>
					<div class=slider>
						{% for bannersnippet in this.get_banner(slot='banner-center-1').get('bannersnippets', []) %}
						<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}" style=width:100%;height:550px;display:block>
							<div class=slide style="background:url('{{bannersnippet['snippet']['image']['file']['path']}}') center;width:100%;height:550px"></div>
						</a>
						{% endfor %}
					</div>
				</div>
				<div class=col-sm-8 style=padding-left:10>
					<div class=slider>
						{% for bannersnippet in this.get_banner(slot='banner-center-2').get('bannersnippets', []) %}
						<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}" style=width:100%;height:550px;display:block>
							<div class=slide style="background:url('{{bannersnippet['snippet']['image']['file']['path']}}') center;width:100%;height:550px"></div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<br>
			<h3 class="default-title-upper text-center"><strong>DECOR</strong> | HOME TO GO</h3>
			<div class=div-p-20>
				<div class=full-cartridge>{% for product in this.get_cartdrige( by_hash = "LESVVN" ) %}{% include 'components/product-thumb.html' %}{% endfor %}</div>
			</div>
			<div class="row homeslides no-margin">
				<div class=col-sm-12>
					{% for bannersnippet in this.get_banner(slot='banner-hometogo').get('bannersnippets', []) %}
					<div style="border:1px solid #ccc;margin-bottom:10px">
						<div class="slider slider-fade">
							<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}" style=width:100%;height:550px;display:block>
								<div class=slide style="background:url('{{bannersnippet['snippet']['image']['file']['path']}}') center;width:100%;height:550px"></div>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<br>
			<br>
			<h3 class="default-title-upper text-center"><strong>ELETRO-DOMÉSTICOS/ELETRÔNICOS/INFORMÁTICA</strong> | HOME TO GO</h3>
			<br>
			<div class=div-p-20>
                <div class=full-cartridge>{% for product in this.get_cartdrige( by_hash = "HYVSMX" ) %}{% include 'components/product-thumb.html' %}{% endfor %}</div>
			</div>
			<div class=banner-expand>
				<div class=content>
					{% for bannersnippet in this.get_banner(slot='banner-marcas').get('bannersnippets', []) %}
					<div class=slide>
						<a href="{{bannersnippet['snippet']['href'] or 'javascript:;'}}" target="{{bannersnippet['snippet']['target'] or ''}}"><img src="{{bannersnippet['snippet']['image']['file']['path']}}" width=100% height=500></a>
					</div>
					{% endfor %}
				</div>
				<div class=controller>
					<a href=javascript:>CLIQUE PARA EXPANDIR</a>
				</div>
			</div>
			<div class=div-20></div>
			<div class="modal fade" id=InstagramVideo tabindex=-1 role=dialog aria-labelledby=formModalLabel aria-hidden=true>
				<div class=modal-dialog style=width:500px>
					<button type=button class="close btn-close" data-dismiss=modal aria-hidden=true>&times;</button>
					<video type=video/mp4 width=500 height=500 src preload=none id=instagram-video poster></video>
				</div>
			</div>
			<h3 class="default-title-upper hide text-center"><strong class="font-floodregular-stylo font-floodregular">ESTILO</strong> | HOME TO GO</h3>
			<div class="hide div-p-20">
				<div class="row stilo">
					<div class=pull-left id=social-instagram>
						<a href=https://www.instagram.com/hometogonews/ target=_blank>
							<i class="ico-home-social ico-home-instagran">Instagram</i>
							<div class=img></div>
						</a>
					</div>
					<div class=pull-left id=social-facebook>
						<a href=# target=_blank>
							<i class="ico-home-social ico-home-facebook">Facebook</i>
							<div class=img></div>
						</a>
					</div>
					<div class=pull-left id=social-blog>
						<a href=https://blog.hometogo.com.br/2016/12/12/as-smart-tvs-e-suas-vantagens/ target=_blank>
							<i class="ico-home-social ico-home-twitter">Twitter</i>
							<div class=img style="background-image:url('http://static.hometogo.com.br/images/3/388/direct-18661_1000x1000 copy-jpg-38828_1000x1000.jpg');background-size:290px 290px"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
</section>
<div class=banner-sku>
	<h1>Day Buy Day HTG</h1>
	<div class=toggle></div>
	<div class=closebtn></div>
	<div class=img>
		<img src=https://static.hometogo.com.br/images/1/186/direct-18661_150x150.jpg alt="Smart Android TV 4K de LED Ultra HD KD-55X7005D série X7005D | KD-55X7005D BR6"/>
	</div>
	<div class=desc>
		<a href=/smart-android-tv-4k-de-led-ultra-hd-kd-55x7005d-serie-x7005d-kd-55x7005d-br6-p56853>
			<span class=manufacturer-name>Sony</span>
			<small title="Smart Android TV 4K de LED Ultra HD KD-55X7005D série X7005D | KD-55X7005D BR6">Smart Android TV 4K de LED Ultra HD KD-55X7005D série...</small>
			<small class=price>

			</small>
		</a>
	</div>
</div>
<section class=container style=position:relative;display:none>
	<div class=row>
		<div class=col-sm-12>
			<div class=kits-promo>
				<div class=catalogo style="background:rgba(0,0,0,0) url('/images/0/95/9564.jpg') no-repeat scroll -30px -28px / 170px!important">
					<div class=title>&nbsp;</div>
					<div class=content>
						CONFIRA NOSSO<br> CATÁLOGO <br>ONLINE
					</div>
				</div>
				<div class=kits>
					<div class=title>KITS ESPECIAIS PARA DATAS COMEMORATIVAS |</div>
					<div class=content>
						<div class=item>
							<a href=http>
							<span><strong>01/01/0001</strong> 1* Promoção</span>
							<img src=/hometogo-assets/img/pg-prod-footer-1.png alt />
							</a>
						</div>
						<div class=item>
							<a href=http>
							<span><strong>02/02/0002</strong> 2* Promoção</span>
							<img src=/hometogo-assets/img/pg-prod-footer-2.png alt />
							</a>
						</div>
						<div class=item>
							<a href=http>
							<span><strong>03/03/0003</strong> 3* Promoção</span>
							<img src=/hometogo-assets/img/pg-prod-footer-3.png alt />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
