{% extends 'layout/search.html' %}

{% block main_content %}
<section>
	<div class=container>
		<h3 class="default-title-upper text-center"><strong>BUSCA</strong> | HOME TO GO</h3>
		<div class="row container">
			<hr class=primary-arrow>
			{% include 'components/search-filters.html' %}
			<div class="col-sm-9 category-listing">
				<ul class=product-list>
					{% for product in search.skus %}
                        <li>{% include 'components/product-thumb.html' %}</li>
                    {% endfor %}
				</ul>
				<hr style=clear:both>
				<ul class=list-pagination>
					{% for page in this.pagination.pages %}
                    <li {% if page.is_current %}class="active"{% endif %}><a {% if page.is_current %}class="active"{% endif %} href="{{page.link}}">{{page.count}}</a></li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}
