{% extends 'layout/myaccount.html' %}

{% block main_content %}
<div class="content-category portal">
	<div class="filter-dropdown">
		{% include 'components/account-menu.html' %}
	</div>
	<div class=container-myaccount>
		<div class=row>
			<div class="col-md-12 text-center mb-20">
				<h2 class="red-text text-center mb-20">Pedido #{{this.order_view.ordergroup.id}}</h2>
			</div>
			<div class="col-md-12 text-uppercase bold">
				<ul class="list-inline line-status float-left text-center">

					<li class=line-active style="width:228px">
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pedido recebido</span>
					</li>

					{% if this.order_view.ordergroup.last_status.name in ["DELIVERED", "SENT", "BILLED", "APPROVED"] %}
					<li class=line-active style="width:228px">
					{% else %}
					<li class=line-light style="width:228px">
					{% endif %}
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pedido aprovado</span>
					</li>

					{% if this.order_view.ordergroup.last_status.name in ["DELIVERED", "SENT", "BILLED"] %}
					<li class=line-active style="width:228px">
					{% else %}
					<li class=line-light style="width:228px">
					{% endif %}
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pedido faturado</span>
					</li>

					{% if this.order_view.ordergroup.last_status.name in ["DELIVERED", "SENT"] %}
					<li class=line-active style="width:228px">
					{% else %}
					<li class=line-light style="width:228px">
					{% endif %}
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pedido enviado</span>
					</li>

					{% if this.order_view.ordergroup.last_status.name in ["DELIVERED"] %}
					<li class=line-active style="width:228px">
					{% else %}
					<li class=line-light style="width:228px">
					{% endif %}
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pedido entregue</span>
					</li>

				</ul>
				<!-- <ul class="list-inline line-status float-left ml-10 text-center">
					<li class=line-grey>
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">pendências vendas/cliente</span>
					</li>
					<li class=line-grey>
						<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
						<hr class=hr-size-4 />
						<span class="text-grey bold">entrega</span>
					</li>
				</ul>
				<ul class="list-inline line-status float-left ml-10 text-center">
				<li class=line-light>
					<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
					<hr class=hr-size-4 />
					<span class="text-grey bold">colocação</span>
				</li>
				<li class=line-light>
					<i class="fa fa-circle icon-small" aria-hidden=true></i><i class="fa fa-chevron-right float-right mt-4" aria-hidden=true></i>
					<hr class=hr-size-4 />
					<span class="text-grey bold">raspagem e finalização</span>
				</li> -->
			</div>
		</div>
		<!-- <div class=row>
			<div class="col-md-12 mb-20">
				<h3><strong>Status do Laudo</strong></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-red">Avaliar Este Serviço</button>
			</div>
		</div> -->
		<div class="row mt-20">
			<div class=col-md-12>
				<div class="col-md-4 border-3 line-height-25px pt-20 pb-20 mr-30">
					<div class=height-250>
						<p><strong>Status do pedido</strong> <br/>
							{{this.order_view.ordergroup.last_status.name|mk_trans("PT")}}<br/>
						</p>
						<p><strong>Data</strong><br/>
							{{this.order_view.ordergroup.buy_date|datetime("%d/%m/%Y")}}<br/>
						</p>
						<p>
							<strong>Forma de pagamento</strong><br/>
							{{this.order_view.ordergroup.payment_info.condition.name}}
						</p>
					</div>
					<!-- <button class="btn btn-disabled btn-default col-md-12 border-radius-0 mt-20">Visualizar Nota Fiscal</button> -->
				</div>
				<div class="col-md-3 border-3 line-height-25px pt-20 pb-20 mr-30">
					<div class=height-250>
						<p><strong>Sumário do pedido</strong><p>
						<table class="width-100">
							<tr class=ma-5>
								<td>Sub-total</td>
								<td class=text-right>R$ {{this.order_view.ordergroup.order_total_item|real_format}}</td>
							</tr>
							<tr>
								<td>Desconto</td>
								<td class=text-right>R$ 0,00</td>
							</tr>
							<tr>
								<td class=pb-10>Frete</td>
								<td class="text-right pb-10">R$ {{this.order_view.ordergroup.order_total_shipping|real_format}}</td>
							</tr>
							<tr style="border-top:2px solid #f0f0f0">
								<td class="pt-10 bold"><strong>Total</strong></td>
								<td class="text-right pt-10"><strong>R$ {{this.order_view.ordergroup.order_total|real_format}}</strong></td>
							</tr>
						</table>
					</div>
					<!-- <button class="btn btn-default col-md-12 border-radius-0 mt-20">Visualizar Boleto</button> -->
				</div>
				<div class="col-md-4 border-3 line-height-25px pt-20 pb-20">
					<div class=height-250>
						<p><strong>Endereço</strong><br/>
							<i>{{this.order_view.ordergroup.shipping_address.reference or "Meu endereço de entrega"}}</i>
						</p>
						<p>{{this.order_view.ordergroup.shipping_address.address}}, {{this.order_view.ordergroup.shipping_address.number}} - {{this.order_view.ordergroup.shipping_address.complement}}<br/>
							{{this.order_view.ordergroup.shipping_address.neighborhood}}<br/>
							CEP {{this.order_view.ordergroup.shipping_address.zipcode}}
						</p>
						<p><strong>Prazo de entrega</strong><br/>
							5 dias úteis<br/>
							00/00/2017 às 00:00:00
					</div>
				</div>
			</div>
			<div class=row>
				<div class="col-md-12 mt-20">
					<h4>PRODUTOS</h4>
					<table class=table>
						<thead class=table-title-grey>
							<th>PRODUTO</th>
							<th>FORNECEDOR</th>
							<th>UN</th>
							<th>QUANTIDADE</th>
							<th>STATUS</th>
						</thead>
						<tbody class>
							{% for order in this.order_view.orders %}
								{% for item in order.order_items %}
								<tr>
									<td>{{item.sku.name}}</td>
									<td>{{order.seller.name}}</td>
									<td>PC</td>
									<td>{{item.quantity}}x</td>
									<td>{{item.last_status.name|mk_trans("PT")}}</td>
								</tr>
								{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- <div class=row>
				<div class="col-md-12 mt-20">
					<h4>SERVIÇOS</h4>
					<table class=table>
						<thead class=table-title-grey>
							<th>Produto</th>
							<th>FORNECEDOR</th>
							<th>UN</th>
							<th>Qtde. MEDIDDA</th>
							<th>CHECKLIST</th>
						</thead>
						<tbody class>
							<tr>
								<td>Ak-47</td>
								<td>David Treta</td>
								<td>PC</td>
								<td>1500600</td>
								<td><button class="btn btn-default col-md-12 border-radius-0">VER CHECKLIST</button></td>
							</tr>
							<tr class=tr-active>
								<td>Ak-47</td>
								<td>David Treta</td>
								<td>PC</td>
								<td>1500600</td>
								<td><button class="btn btn-default col-md-12 border-radius-0">VER CHECKLIST</button></td>
							</tr>
							<tr class=tr-active-box>
								<td colspan=5 class="pt-20 pr-30 pb-20 pl-30">
									<table class="width-100 no-border">
										<tr>
											<td>
												<div class="col-md-12 border-3 line-height-25px pt-20 pb-20 mb-20">
													<div class=col-md-6>
														<strong>Executado por:</strong> DAVID MARLONS<br/>
														<strong>Informado por:</strong> DAVID SILVA<br/>
													</div>
													<div class=col-md-6>
														<strong>Executado em:</strong> 00/00/2017<br/>
														<strong>Informado em:</strong> 00/00/2017<br/>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<table class="table no-border table-title-light">
													<thead>
														<th>PERGUNTAS</th>
														<th>RESPOSTA</th>
														<th>COMPLEMENTO</th>
													</thead>
													<tr>
														<td>Lorem ipsum dolor sit amet, , sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
														<td>Não</td>
														<td>COMPLEMENTO</td>
													</tr>
													<tr>
														<td>Lorem ipsum dolor sit amet, , sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
														<td>Não</td>
														<td>COMPLEMENTO</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							<tr>
								<td>Ak-47</td>
								<td>David Treta</td>
								<td>PC</td>
								<td>1500600</td>
								<td>ENTREGUE</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> -->
		</div>
	</div>
</div>
{% endblock %}
