{% extends 'layout/myaccount.html' %}

{% block main_content %}
<div class="content-category portal">
	<div class="filter-dropdown">
		{% include 'components/account-menu.html' %}
	</div>
	<div class=container-myaccount>
		<div class=row>
			<div class="col-md-12 text-center mb-20">
				<h2 class="red-text text-center mb-20">Acompanhe seus pedidos</h2>
			</div>
			<div class="col-md-12 well border-radius-0 no-border hide">
				<form class="form-inline container-myaccount">
					<div class="form-group col-md-5 mf-20">
						<label for=exampleInputName2 class=text-uppercase><strong>Buscar por número de pedido</strong></label>
						<input type=text class="form-control width-100 border-radius-0 display-block" id=exampleInputName2 placeholder="Digite o número do pedido">
					</div>
					<div class="form-group pl-35">
						<label for=exampleInputEmail2 class="display-block text-uppercase"><strong>Buscar por período</strong></label>
						<label for>DE</label>
						<div class='ml-5 input-group date' id=datetimepicker6>
							<input type=text class="form-control border-radius-0" />
							<span class=input-group-addon>
							<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group pl-15">
						<label for=exampleInputEmail2 class=display-block>&nbsp;</label>
						<label for>ATÉ</label>
						<div class='ml-5 input-group date' id=datetimepicker7>
							<input type=text class="form-control border-radius-0" />
							<span class=input-group-addon>
							<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</form>
				<script type=text/javascript>$(function(){$("#datetimepicker6").datetimepicker();$("#datetimepicker7").datetimepicker({useCurrent:false});$("#datetimepicker6").on("dp.change",function(a){$("#datetimepicker7").data("DateTimePicker").minDate(a.date)});$("#datetimepicker7").on("dp.change",function(a){$("#datetimepicker6").data("DateTimePicker").maxDate(a.date)})});</script>
			</div>
		</div>
		<div class=row>
			<div class="col-md-12 text-center mb-20 hide">
				<h3><strong>Resultado da Busca</strong></h3>
			</div>
			<table class=table>
				<thead>
					<th>Número do Pedido</th>
					<th>Valor</th>
					<th>Data</th>
					<th>Status</th>
					<th>&nbsp;</th>
				</thead>
				<tbody class=table-hover>
					{% for order in this.orders %}
					<tr class>
						<td><strong>#{{order.ordergroup.id}}</strong></td>
						<td>{{order.ordergroup.buy_date|datetime("%d/%m/%Y")}}</td>
						<td>R$ {{order.ordergroup.order_total|real_format}}</td>
						<td>{{order.ordergroup.last_status.name|mk_trans("PT")}}</td>
						<td class="padding-0 text-right"><a class="btn btn-grey-lg text-uppercase" href="/account/order/view?order_id={{order.ordergroup.id}}">Ver mais Detalhes</a></td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
