{% set product = this.load_product() %}
{% set sku = product.current_sku %}
<!DOCTYPE html>
<html ng-app="catalog" ng-controller="main">
	<head>
		<meta charset=utf-8>
		<title>{{product.current_sku.name if product.current_sku else product.name}} - Home To Go</title>
		<title>Home To Go</title>
		{% include 'components/tag-head.html' %}
	</head>
	<body ng-controller="custom">
		{% include 'components/modal-login-request.html' %}

		{% include 'components/header.html' %}

		{% block main_content %}{% endblock %}

		{% include 'components/footer.html' %}

		<script>ga("send","pageview","/ecomm_goal/pagina_produto.html");</script>
	</body>
</html>
