<!DOCTYPE html>
<html ng-app="catalog" ng-controller="main">
	<head>
		{% include 'components/tag-head.html' %}
		<title>Madel - Cadastro</title>
		<style>.table>tbody>tr>td,.table>tfoot>tr>td{vertical-align:middle}</style>
	</head>
	<body ng-controller="custom">
		<div class=row-fluid>
			<div class="container" style="border-bottom:1px solid #f5f5f5">
				<div class=col-md-3 style=top:15px>
					<a href="/"><img src=/assets/images/logo-1.png style="width:130px; margin-top:-10px"></a>
				</div>
				<div class=col-md-6>
					<nav>
						<ol class="cd-multi-steps text-bottom">
							<li class=visited><a href=#0>CARRINHO</a></li>
							<li class=current><a href=#0>CADASTRO</a></li>
							<li><a href=#0>ENDEREÇO</a></li>
							<li><a href=#0>PAGAMENTO</a></li>
						</ol>
					</nav>
				</div>
				<div class=col-md-3 style="top:26px; right: -15px ;  text-align: right;">
					<img src=/madel-assets/img/ambiente_seguro.png>
				</div>
			</div>
		</div>
		<div>
			<div class="row ma-0">
				<div class=col-md-12>
					<h2 class="primary-color text-center mb-20">Identificação</h2>
				</div>
			</div>
			<div class=col-center-block>
				<div class=row>
					<div class="col-md-8 col-md-offset-2">
						<div class="grey-text ml-25">< Voltar</div>
						<div class="row mt-20">
							<div class="col-md-6 pr-40 pl-40 pt-20 pb-20" style="border-right:1px solid rgba(0,0,0,.1)">
								<div class=row>
									<div class="col-sm-6">
										<div class=form-group>
											<label for=NomeCompleto>Primeiro nome</label><br>
											<input type=text ng-model="customer.register.first_name" class=custom-input id=NomeCompleto placeholder=Nome>
										</div>
									</div>
									<div class="col-sm-6">
										<div class=form-group>
											<label for=NomeCompleto>Ultimo nome</label><br>
											<input type=text ng-model="customer.register.last_name" class=custom-input id=NomeCompleto placeholder=Nome>
										</div>
									</div>
									<div class=col-md-6>
										<div class=form-group>
											<label for=CPF>CPF</label><br>
											<input type=text ng-model="customer.register.document.cpf" class="custom-input cpf" id=CPF placeholder=000.000.000-00>
										</div>
									</div>
									<div class=col-md-6>
										<div class=form-group>
											<label for=DataNascimento>Data de Nascimento</label><br>
											<input type=text ng-model="customer.register.birthday" class="custom-input date" id=DataNascimento placeholder="00 / 00 / 0000">
										</div>
									</div>
									<div class=col-md-6>
										<div class="row">
											<div class="col-sm-3">
												<div class=form-group>
													<label for=TelefoneFixo>DDD</label><br>
													<input type=text ng-model="customer.register.telephone.state_code" class=custom-input id=TelefoneFixo placeholder="(00)">
												</div>
											</div>
											<div class="col-sm-9">
												<div class=form-group>
													<label for=TelefoneFixo>Telefone</label><br>
													<input type=text ng-model="customer.register.telephone.number" class=custom-input id=TelefoneFixo placeholder="0000-0000">
												</div>
											</div>
										</div>
									</div>
									<div class=col-md-6>
										<div class="row">
											<div class="col-sm-3">
												<div class=form-group>
													<label for=TelefoneFixo>DDD</label><br>
													<input type=text ng-model="customer.register.cellphone.state_code" class=custom-input id=TelefoneFixo placeholder="(00)">
												</div>
											</div>
											<div class="col-sm-9">
												<div class=form-group>
													<label for=TelefoneFixo>Celular</label><br>
													<input type=text ng-model="customer.register.cellphone.number" class=custom-input id=TelefoneFixo placeholder="0000-0000">
												</div>
											</div>
										</div>
									</div>
									<div class=col-md-12>
										<div class=form-group>
											<label>Sexo</label>
											<input type=radio name=genero value=1> Masculino
											<input type=radio name=genero value=0> Feminino
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-40 pl-40 pt-20 pb-20">
								<div class=row>
									<div class=col-md-12>
										<div class=form-group>
											<label for=Email>Email</label><br>
											<input type=text ng-model="customer.register.email" class=custom-input id=Email placeholder=exemplo-de-email@email.com>
										</div>
									</div>
									<div class=col-md-6>
										<div class=form-group>
											<label for=Senha>Senha</label><br>
											<input ng-model="customer.register.password" type=password class=custom-input id=Senha placeholder=Senha>
										</div>
									</div>
									<div class=col-md-6>
										<div class=form-group>
											<label for=ConfirmSenha>Repita a Senha</label><br>
											<input ng-model="customer.register.password_confirm" type=password class=custom-input id=ConfirmSenha placeholder="Repita a Senha">
										</div>
									</div>
									<div class=col-md-12>
										<button class="btn primary-btn btn-block" ng-click="customer.signup(customer.register)">CADASTRAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'components/footer-simple.html' %}
		</div>
	</body>
</html>
